<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.psims.web.dao.ImportMapper" >
  <resultMap id="BaseResultMap" type="com.ai.psims.web.model.Import" >
    <id column="import_serial_number" property="importSerialNumber" jdbcType="VARCHAR" />
    <result column="import_datetime" property="importDatetime" jdbcType="DATE" />
    <result column="import_batch_number" property="importBatchNumber" jdbcType="VARCHAR" />
    <result column="import_total_price" property="importTotalPrice" jdbcType="BIGINT" />
    <result column="payment_type" property="paymentType" jdbcType="VARCHAR" />
    <result column="payment_time" property="paymentTime" jdbcType="DATE" />
    <result column="import_type" property="importType" jdbcType="VARCHAR" />
    <result column="import_status" property="importStatus" jdbcType="VARCHAR" />
    <result column="import_remark" property="importRemark" jdbcType="VARCHAR" />
    <result column="storehouse_id" property="storehouseId" jdbcType="INTEGER" />
    <result column="storehouse_name" property="storehouseName" jdbcType="VARCHAR" />
    <result column="provider_id" property="providerId" jdbcType="INTEGER" />
    <result column="provider_name" property="providerName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    import_serial_number, import_datetime, import_batch_number, import_total_price, payment_type, 
    payment_time, import_type, import_status, import_remark, storehouse_id, storehouse_name, 
    provider_id, provider_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_import
    where import_serial_number = #{importSerialNumber,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByColum" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from tb_import ST
    <where>   
         <if test="providerId!=null and providerId!='' ">   
             ST.provider_id LIKE CONCAT(CONCAT('%', #{providerId}),'%')    
         </if>   
         <if test="storehouseId!= null and storehouseId!= '' ">   
             AND ST.storehouse_Id LIKE CONCAT(CONCAT('%', #{storehouseId}),'%')    
         </if>   
         <if test="importSerialNumber!=null and importSerialNumber!= '' ">   
             AND ST.import_serial_number LIKE CONCAT(CONCAT('%', #{importSerialNumber}),'%')   
         </if>   
         <if test="paymentType!=null and paymentType!= ''  ">   
             AND ST.payment_type LIKE CONCAT(CONCAT('%', #{paymentType}),'%')  
         </if>   
     </where>   
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_import
  </select>
  
  <select id="selectImportSerialNumber" resultType="java.lang.String" parameterType="java.lang.String" >
    select max(import_serial_number)
    from tb_import
    where import_serial_number like CONCAT(CONCAT('%', #{importSerialNumber,jdbcType=VARCHAR}), '%') 
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_import
    where import_serial_number = #{importSerialNumber,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ai.psims.web.model.Import" >
    insert into tb_import (import_serial_number, import_datetime, 
      import_batch_number, import_total_price, payment_type, 
      payment_time, import_type, import_status, 
      import_remark, storehouse_id, storehouse_name, 
      provider_id, provider_name)
    values (#{importSerialNumber,jdbcType=VARCHAR}, #{importDatetime,jdbcType=DATE}, 
      #{importBatchNumber,jdbcType=VARCHAR}, #{importTotalPrice,jdbcType=BIGINT}, #{paymentType,jdbcType=VARCHAR}, 
      #{paymentTime,jdbcType=DATE}, #{importType,jdbcType=VARCHAR}, #{importStatus,jdbcType=VARCHAR}, 
      #{importRemark,jdbcType=VARCHAR}, #{storehouseId,jdbcType=INTEGER}, #{storehouseName,jdbcType=VARCHAR}, 
      #{providerId,jdbcType=INTEGER}, #{providerName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.psims.web.model.Import" >
    insert into tb_import
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="importSerialNumber != null" >
        import_serial_number,
      </if>
      <if test="importDatetime != null" >
        import_datetime,
      </if>
      <if test="importBatchNumber != null" >
        import_batch_number,
      </if>
      <if test="importTotalPrice != null" >
        import_total_price,
      </if>
      <if test="paymentType != null" >
        payment_type,
      </if>
      <if test="paymentTime != null" >
        payment_time,
      </if>
      <if test="importType != null" >
        import_type,
      </if>
      <if test="importStatus != null" >
        import_status,
      </if>
      <if test="importRemark != null" >
        import_remark,
      </if>
      <if test="storehouseId != null" >
        storehouse_id,
      </if>
      <if test="storehouseName != null" >
        storehouse_name,
      </if>
      <if test="providerId != null" >
        provider_id,
      </if>
      <if test="providerName != null" >
        provider_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="importSerialNumber != null" >
        #{importSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="importDatetime != null" >
        #{importDatetime,jdbcType=DATE},
      </if>
      <if test="importBatchNumber != null" >
        #{importBatchNumber,jdbcType=VARCHAR},
      </if>
      <if test="importTotalPrice != null" >
        #{importTotalPrice,jdbcType=BIGINT},
      </if>
      <if test="paymentType != null" >
        #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="paymentTime != null" >
        #{paymentTime,jdbcType=DATE},
      </if>
      <if test="importType != null" >
        #{importType,jdbcType=VARCHAR},
      </if>
      <if test="importStatus != null" >
        #{importStatus,jdbcType=VARCHAR},
      </if>
      <if test="importRemark != null" >
        #{importRemark,jdbcType=VARCHAR},
      </if>
      <if test="storehouseId != null" >
        #{storehouseId,jdbcType=INTEGER},
      </if>
      <if test="storehouseName != null" >
        #{storehouseName,jdbcType=VARCHAR},
      </if>
      <if test="providerId != null" >
        #{providerId,jdbcType=INTEGER},
      </if>
      <if test="providerName != null" >
        #{providerName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.psims.web.model.Import" >
    update tb_import
    <set >
      <if test="importDatetime != null" >
        import_datetime = #{importDatetime,jdbcType=DATE},
      </if>
      <if test="importBatchNumber != null" >
        import_batch_number = #{importBatchNumber,jdbcType=VARCHAR},
      </if>
      <if test="importTotalPrice != null" >
        import_total_price = #{importTotalPrice,jdbcType=BIGINT},
      </if>
      <if test="paymentType != null" >
        payment_type = #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="paymentTime != null" >
        payment_time = #{paymentTime,jdbcType=DATE},
      </if>
      <if test="importType != null" >
        import_type = #{importType,jdbcType=VARCHAR},
      </if>
      <if test="importStatus != null" >
        import_status = #{importStatus,jdbcType=VARCHAR},
      </if>
      <if test="importRemark != null" >
        import_remark = #{importRemark,jdbcType=VARCHAR},
      </if>
      <if test="storehouseId != null" >
        storehouse_id = #{storehouseId,jdbcType=INTEGER},
      </if>
      <if test="storehouseName != null" >
        storehouse_name = #{storehouseName,jdbcType=VARCHAR},
      </if>
      <if test="providerId != null" >
        provider_id = #{providerId,jdbcType=INTEGER},
      </if>
      <if test="providerName != null" >
        provider_name = #{providerName,jdbcType=VARCHAR},
      </if>
    </set>
    where import_serial_number = #{importSerialNumber,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.psims.web.model.Import" >
    update tb_import
    set import_datetime = #{importDatetime,jdbcType=DATE},
      import_batch_number = #{importBatchNumber,jdbcType=VARCHAR},
      import_total_price = #{importTotalPrice,jdbcType=BIGINT},
      payment_type = #{paymentType,jdbcType=VARCHAR},
      payment_time = #{paymentTime,jdbcType=DATE},
      import_type = #{importType,jdbcType=VARCHAR},
      import_status = #{importStatus,jdbcType=VARCHAR},
      import_remark = #{importRemark,jdbcType=VARCHAR},
      storehouse_id = #{storehouseId,jdbcType=INTEGER},
      storehouse_name = #{storehouseName,jdbcType=VARCHAR},
      provider_id = #{providerId,jdbcType=INTEGER},
      provider_name = #{providerName,jdbcType=VARCHAR}
    where import_serial_number = #{importSerialNumber,jdbcType=VARCHAR}
  </update>
</mapper>