<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.psims.web.dao.ImportGoodsLogMapper" >
  <resultMap id="BaseResultMap" type="com.ai.psims.web.model.ImportGoodsLog" >
    <id column="log_id" property="logId" jdbcType="INTEGER" />
    <result column="log_datetime" property="logDatetime" jdbcType="TIMESTAMP" />
    <result column="import_goods_id" property="importGoodsId" jdbcType="INTEGER" />
    <result column="import_serial_number" property="importSerialNumber" jdbcType="VARCHAR" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="import_goods_type" property="importGoodsType" jdbcType="VARCHAR" />
    <result column="import_goods_amount" property="importGoodsAmount" jdbcType="INTEGER" />
    <result column="import_goods_unit" property="importGoodsUnit" jdbcType="VARCHAR" />
    <result column="import_goods_price" property="importGoodsPrice" jdbcType="BIGINT" />
    <result column="import_goods_production_date" property="importGoodsProductionDate" jdbcType="DATE" />
    <result column="import_goods_expiration_date" property="importGoodsExpirationDate" jdbcType="DATE" />
    <result column="import_discount_amount" property="importDiscountAmount" jdbcType="BIGINT" />
    <result column="import_goods_createtime" property="importGoodsCreatetime" jdbcType="DATE" />
    <result column="import_goods_modifytime" property="importGoodsModifytime" jdbcType="DATE" />
    <result column="import_goods_endtime" property="importGoodsEndtime" jdbcType="DATE" />
    <result column="import_goods_remark" property="importGoodsRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    log_id, log_datetime, import_goods_id, import_serial_number, goods_id, goods_name, 
    import_goods_type, import_goods_amount, import_goods_unit, import_goods_price, import_goods_production_date, 
    import_goods_expiration_date, import_discount_amount, import_goods_createtime, import_goods_modifytime, 
    import_goods_endtime, import_goods_remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_import_goods_log
    where log_id = #{logId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_import_goods_log
    where log_id = #{logId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ai.psims.web.model.ImportGoodsLog" >
    insert into tb_import_goods_log (log_id, log_datetime, import_goods_id, 
      import_serial_number, goods_id, goods_name, 
      import_goods_type, import_goods_amount, import_goods_unit, 
      import_goods_price, import_goods_production_date, 
      import_goods_expiration_date, import_discount_amount, 
      import_goods_createtime, import_goods_modifytime, 
      import_goods_endtime, import_goods_remark)
    values (#{logId,jdbcType=INTEGER}, #{logDatetime,jdbcType=TIMESTAMP}, #{importGoodsId,jdbcType=INTEGER}, 
      #{importSerialNumber,jdbcType=VARCHAR}, #{goodsId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, 
      #{importGoodsType,jdbcType=VARCHAR}, #{importGoodsAmount,jdbcType=INTEGER}, #{importGoodsUnit,jdbcType=VARCHAR}, 
      #{importGoodsPrice,jdbcType=BIGINT}, #{importGoodsProductionDate,jdbcType=DATE}, 
      #{importGoodsExpirationDate,jdbcType=DATE}, #{importDiscountAmount,jdbcType=BIGINT}, 
      #{importGoodsCreatetime,jdbcType=DATE}, #{importGoodsModifytime,jdbcType=DATE}, 
      #{importGoodsEndtime,jdbcType=DATE}, #{importGoodsRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.psims.web.model.ImportGoodsLog" >
    insert into tb_import_goods_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        log_id,
      </if>
      <if test="logDatetime != null" >
        log_datetime,
      </if>
      <if test="importGoodsId != null" >
        import_goods_id,
      </if>
      <if test="importSerialNumber != null" >
        import_serial_number,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="importGoodsType != null" >
        import_goods_type,
      </if>
      <if test="importGoodsAmount != null" >
        import_goods_amount,
      </if>
      <if test="importGoodsUnit != null" >
        import_goods_unit,
      </if>
      <if test="importGoodsPrice != null" >
        import_goods_price,
      </if>
      <if test="importGoodsProductionDate != null" >
        import_goods_production_date,
      </if>
      <if test="importGoodsExpirationDate != null" >
        import_goods_expiration_date,
      </if>
      <if test="importDiscountAmount != null" >
        import_discount_amount,
      </if>
      <if test="importGoodsCreatetime != null" >
        import_goods_createtime,
      </if>
      <if test="importGoodsModifytime != null" >
        import_goods_modifytime,
      </if>
      <if test="importGoodsEndtime != null" >
        import_goods_endtime,
      </if>
      <if test="importGoodsRemark != null" >
        import_goods_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        #{logId,jdbcType=INTEGER},
      </if>
      <if test="logDatetime != null" >
        #{logDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="importGoodsId != null" >
        #{importGoodsId,jdbcType=INTEGER},
      </if>
      <if test="importSerialNumber != null" >
        #{importSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="importGoodsType != null" >
        #{importGoodsType,jdbcType=VARCHAR},
      </if>
      <if test="importGoodsAmount != null" >
        #{importGoodsAmount,jdbcType=INTEGER},
      </if>
      <if test="importGoodsUnit != null" >
        #{importGoodsUnit,jdbcType=VARCHAR},
      </if>
      <if test="importGoodsPrice != null" >
        #{importGoodsPrice,jdbcType=BIGINT},
      </if>
      <if test="importGoodsProductionDate != null" >
        #{importGoodsProductionDate,jdbcType=DATE},
      </if>
      <if test="importGoodsExpirationDate != null" >
        #{importGoodsExpirationDate,jdbcType=DATE},
      </if>
      <if test="importDiscountAmount != null" >
        #{importDiscountAmount,jdbcType=BIGINT},
      </if>
      <if test="importGoodsCreatetime != null" >
        #{importGoodsCreatetime,jdbcType=DATE},
      </if>
      <if test="importGoodsModifytime != null" >
        #{importGoodsModifytime,jdbcType=DATE},
      </if>
      <if test="importGoodsEndtime != null" >
        #{importGoodsEndtime,jdbcType=DATE},
      </if>
      <if test="importGoodsRemark != null" >
        #{importGoodsRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.psims.web.model.ImportGoodsLog" >
    update tb_import_goods_log
    <set >
      <if test="logDatetime != null" >
        log_datetime = #{logDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="importGoodsId != null" >
        import_goods_id = #{importGoodsId,jdbcType=INTEGER},
      </if>
      <if test="importSerialNumber != null" >
        import_serial_number = #{importSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="importGoodsType != null" >
        import_goods_type = #{importGoodsType,jdbcType=VARCHAR},
      </if>
      <if test="importGoodsAmount != null" >
        import_goods_amount = #{importGoodsAmount,jdbcType=INTEGER},
      </if>
      <if test="importGoodsUnit != null" >
        import_goods_unit = #{importGoodsUnit,jdbcType=VARCHAR},
      </if>
      <if test="importGoodsPrice != null" >
        import_goods_price = #{importGoodsPrice,jdbcType=BIGINT},
      </if>
      <if test="importGoodsProductionDate != null" >
        import_goods_production_date = #{importGoodsProductionDate,jdbcType=DATE},
      </if>
      <if test="importGoodsExpirationDate != null" >
        import_goods_expiration_date = #{importGoodsExpirationDate,jdbcType=DATE},
      </if>
      <if test="importDiscountAmount != null" >
        import_discount_amount = #{importDiscountAmount,jdbcType=BIGINT},
      </if>
      <if test="importGoodsCreatetime != null" >
        import_goods_createtime = #{importGoodsCreatetime,jdbcType=DATE},
      </if>
      <if test="importGoodsModifytime != null" >
        import_goods_modifytime = #{importGoodsModifytime,jdbcType=DATE},
      </if>
      <if test="importGoodsEndtime != null" >
        import_goods_endtime = #{importGoodsEndtime,jdbcType=DATE},
      </if>
      <if test="importGoodsRemark != null" >
        import_goods_remark = #{importGoodsRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.psims.web.model.ImportGoodsLog" >
    update tb_import_goods_log
    set log_datetime = #{logDatetime,jdbcType=TIMESTAMP},
      import_goods_id = #{importGoodsId,jdbcType=INTEGER},
      import_serial_number = #{importSerialNumber,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      import_goods_type = #{importGoodsType,jdbcType=VARCHAR},
      import_goods_amount = #{importGoodsAmount,jdbcType=INTEGER},
      import_goods_unit = #{importGoodsUnit,jdbcType=VARCHAR},
      import_goods_price = #{importGoodsPrice,jdbcType=BIGINT},
      import_goods_production_date = #{importGoodsProductionDate,jdbcType=DATE},
      import_goods_expiration_date = #{importGoodsExpirationDate,jdbcType=DATE},
      import_discount_amount = #{importDiscountAmount,jdbcType=BIGINT},
      import_goods_createtime = #{importGoodsCreatetime,jdbcType=DATE},
      import_goods_modifytime = #{importGoodsModifytime,jdbcType=DATE},
      import_goods_endtime = #{importGoodsEndtime,jdbcType=DATE},
      import_goods_remark = #{importGoodsRemark,jdbcType=VARCHAR}
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
</mapper>