<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.psims.web.dao.ImportbackLogMapper" >
  <resultMap id="BaseResultMap" type="com.ai.psims.web.model.ImportbackLog" >
    <id column="log_id" property="logId" jdbcType="INTEGER" />
    <result column="log_datetime" property="logDatetime" jdbcType="TIMESTAMP" />
    <result column="importback_serial_number" property="importbackSerialNumber" jdbcType="VARCHAR" />
    <result column="import_serial_number" property="importSerialNumber" jdbcType="VARCHAR" />
    <result column="provider_id" property="providerId" jdbcType="INTEGER" />
    <result column="provider_name" property="providerName" jdbcType="VARCHAR" />
    <result column="storehouse_id" property="storehouseId" jdbcType="INTEGER" />
    <result column="storehouse_name" property="storehouseName" jdbcType="VARCHAR" />
    <result column="importback_type" property="importbackType" jdbcType="VARCHAR" />
    <result column="importback_reason" property="importbackReason" jdbcType="VARCHAR" />
    <result column="importback_time" property="importbackTime" jdbcType="DATE" />
    <result column="importback_refund" property="importbackRefund" jdbcType="BIGINT" />
    <result column="importback_refund_type" property="importbackRefundType" jdbcType="VARCHAR" />
    <result column="importback_refund_time" property="importbackRefundTime" jdbcType="DATE" />
    <result column="importback_remark" property="importbackRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    log_id, log_datetime, importback_serial_number, import_serial_number, provider_id, 
    provider_name, storehouse_id, storehouse_name, importback_type, importback_reason, 
    importback_time, importback_refund, importback_refund_type, importback_refund_time, 
    importback_remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.psims.web.model.ImportbackLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_importback_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_importback_log
    where log_id = #{logId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_importback_log
    where log_id = #{logId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.psims.web.model.ImportbackLogExample" >
    delete from tb_importback_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.psims.web.model.ImportbackLog" >
    insert into tb_importback_log (log_id, log_datetime, importback_serial_number, 
      import_serial_number, provider_id, provider_name, 
      storehouse_id, storehouse_name, importback_type, 
      importback_reason, importback_time, importback_refund, 
      importback_refund_type, importback_refund_time, 
      importback_remark)
    values (#{logId,jdbcType=INTEGER}, #{logDatetime,jdbcType=TIMESTAMP}, #{importbackSerialNumber,jdbcType=VARCHAR}, 
      #{importSerialNumber,jdbcType=VARCHAR}, #{providerId,jdbcType=INTEGER}, #{providerName,jdbcType=VARCHAR}, 
      #{storehouseId,jdbcType=INTEGER}, #{storehouseName,jdbcType=VARCHAR}, #{importbackType,jdbcType=VARCHAR}, 
      #{importbackReason,jdbcType=VARCHAR}, #{importbackTime,jdbcType=DATE}, #{importbackRefund,jdbcType=BIGINT}, 
      #{importbackRefundType,jdbcType=VARCHAR}, #{importbackRefundTime,jdbcType=DATE}, 
      #{importbackRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.psims.web.model.ImportbackLog" >
    insert into tb_importback_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        log_id,
      </if>
      <if test="logDatetime != null" >
        log_datetime,
      </if>
      <if test="importbackSerialNumber != null" >
        importback_serial_number,
      </if>
      <if test="importSerialNumber != null" >
        import_serial_number,
      </if>
      <if test="providerId != null" >
        provider_id,
      </if>
      <if test="providerName != null" >
        provider_name,
      </if>
      <if test="storehouseId != null" >
        storehouse_id,
      </if>
      <if test="storehouseName != null" >
        storehouse_name,
      </if>
      <if test="importbackType != null" >
        importback_type,
      </if>
      <if test="importbackReason != null" >
        importback_reason,
      </if>
      <if test="importbackTime != null" >
        importback_time,
      </if>
      <if test="importbackRefund != null" >
        importback_refund,
      </if>
      <if test="importbackRefundType != null" >
        importback_refund_type,
      </if>
      <if test="importbackRefundTime != null" >
        importback_refund_time,
      </if>
      <if test="importbackRemark != null" >
        importback_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        #{logId,jdbcType=INTEGER},
      </if>
      <if test="logDatetime != null" >
        #{logDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="importbackSerialNumber != null" >
        #{importbackSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="importSerialNumber != null" >
        #{importSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="providerId != null" >
        #{providerId,jdbcType=INTEGER},
      </if>
      <if test="providerName != null" >
        #{providerName,jdbcType=VARCHAR},
      </if>
      <if test="storehouseId != null" >
        #{storehouseId,jdbcType=INTEGER},
      </if>
      <if test="storehouseName != null" >
        #{storehouseName,jdbcType=VARCHAR},
      </if>
      <if test="importbackType != null" >
        #{importbackType,jdbcType=VARCHAR},
      </if>
      <if test="importbackReason != null" >
        #{importbackReason,jdbcType=VARCHAR},
      </if>
      <if test="importbackTime != null" >
        #{importbackTime,jdbcType=DATE},
      </if>
      <if test="importbackRefund != null" >
        #{importbackRefund,jdbcType=BIGINT},
      </if>
      <if test="importbackRefundType != null" >
        #{importbackRefundType,jdbcType=VARCHAR},
      </if>
      <if test="importbackRefundTime != null" >
        #{importbackRefundTime,jdbcType=DATE},
      </if>
      <if test="importbackRemark != null" >
        #{importbackRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.psims.web.model.ImportbackLogExample" resultType="java.lang.Integer" >
    select count(*) from tb_importback_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_importback_log
    <set >
      <if test="record.logId != null" >
        log_id = #{record.logId,jdbcType=INTEGER},
      </if>
      <if test="record.logDatetime != null" >
        log_datetime = #{record.logDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.importbackSerialNumber != null" >
        importback_serial_number = #{record.importbackSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.importSerialNumber != null" >
        import_serial_number = #{record.importSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.providerId != null" >
        provider_id = #{record.providerId,jdbcType=INTEGER},
      </if>
      <if test="record.providerName != null" >
        provider_name = #{record.providerName,jdbcType=VARCHAR},
      </if>
      <if test="record.storehouseId != null" >
        storehouse_id = #{record.storehouseId,jdbcType=INTEGER},
      </if>
      <if test="record.storehouseName != null" >
        storehouse_name = #{record.storehouseName,jdbcType=VARCHAR},
      </if>
      <if test="record.importbackType != null" >
        importback_type = #{record.importbackType,jdbcType=VARCHAR},
      </if>
      <if test="record.importbackReason != null" >
        importback_reason = #{record.importbackReason,jdbcType=VARCHAR},
      </if>
      <if test="record.importbackTime != null" >
        importback_time = #{record.importbackTime,jdbcType=DATE},
      </if>
      <if test="record.importbackRefund != null" >
        importback_refund = #{record.importbackRefund,jdbcType=BIGINT},
      </if>
      <if test="record.importbackRefundType != null" >
        importback_refund_type = #{record.importbackRefundType,jdbcType=VARCHAR},
      </if>
      <if test="record.importbackRefundTime != null" >
        importback_refund_time = #{record.importbackRefundTime,jdbcType=DATE},
      </if>
      <if test="record.importbackRemark != null" >
        importback_remark = #{record.importbackRemark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_importback_log
    set log_id = #{record.logId,jdbcType=INTEGER},
      log_datetime = #{record.logDatetime,jdbcType=TIMESTAMP},
      importback_serial_number = #{record.importbackSerialNumber,jdbcType=VARCHAR},
      import_serial_number = #{record.importSerialNumber,jdbcType=VARCHAR},
      provider_id = #{record.providerId,jdbcType=INTEGER},
      provider_name = #{record.providerName,jdbcType=VARCHAR},
      storehouse_id = #{record.storehouseId,jdbcType=INTEGER},
      storehouse_name = #{record.storehouseName,jdbcType=VARCHAR},
      importback_type = #{record.importbackType,jdbcType=VARCHAR},
      importback_reason = #{record.importbackReason,jdbcType=VARCHAR},
      importback_time = #{record.importbackTime,jdbcType=DATE},
      importback_refund = #{record.importbackRefund,jdbcType=BIGINT},
      importback_refund_type = #{record.importbackRefundType,jdbcType=VARCHAR},
      importback_refund_time = #{record.importbackRefundTime,jdbcType=DATE},
      importback_remark = #{record.importbackRemark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.psims.web.model.ImportbackLog" >
    update tb_importback_log
    <set >
      <if test="logDatetime != null" >
        log_datetime = #{logDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="importbackSerialNumber != null" >
        importback_serial_number = #{importbackSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="importSerialNumber != null" >
        import_serial_number = #{importSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="providerId != null" >
        provider_id = #{providerId,jdbcType=INTEGER},
      </if>
      <if test="providerName != null" >
        provider_name = #{providerName,jdbcType=VARCHAR},
      </if>
      <if test="storehouseId != null" >
        storehouse_id = #{storehouseId,jdbcType=INTEGER},
      </if>
      <if test="storehouseName != null" >
        storehouse_name = #{storehouseName,jdbcType=VARCHAR},
      </if>
      <if test="importbackType != null" >
        importback_type = #{importbackType,jdbcType=VARCHAR},
      </if>
      <if test="importbackReason != null" >
        importback_reason = #{importbackReason,jdbcType=VARCHAR},
      </if>
      <if test="importbackTime != null" >
        importback_time = #{importbackTime,jdbcType=DATE},
      </if>
      <if test="importbackRefund != null" >
        importback_refund = #{importbackRefund,jdbcType=BIGINT},
      </if>
      <if test="importbackRefundType != null" >
        importback_refund_type = #{importbackRefundType,jdbcType=VARCHAR},
      </if>
      <if test="importbackRefundTime != null" >
        importback_refund_time = #{importbackRefundTime,jdbcType=DATE},
      </if>
      <if test="importbackRemark != null" >
        importback_remark = #{importbackRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.psims.web.model.ImportbackLog" >
    update tb_importback_log
    set log_datetime = #{logDatetime,jdbcType=TIMESTAMP},
      importback_serial_number = #{importbackSerialNumber,jdbcType=VARCHAR},
      import_serial_number = #{importSerialNumber,jdbcType=VARCHAR},
      provider_id = #{providerId,jdbcType=INTEGER},
      provider_name = #{providerName,jdbcType=VARCHAR},
      storehouse_id = #{storehouseId,jdbcType=INTEGER},
      storehouse_name = #{storehouseName,jdbcType=VARCHAR},
      importback_type = #{importbackType,jdbcType=VARCHAR},
      importback_reason = #{importbackReason,jdbcType=VARCHAR},
      importback_time = #{importbackTime,jdbcType=DATE},
      importback_refund = #{importbackRefund,jdbcType=BIGINT},
      importback_refund_type = #{importbackRefundType,jdbcType=VARCHAR},
      importback_refund_time = #{importbackRefundTime,jdbcType=DATE},
      importback_remark = #{importbackRemark,jdbcType=VARCHAR}
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
</mapper>