<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.psims.web.dao.ProviderLogMapper" >
  <resultMap id="BaseResultMap" type="com.ai.psims.web.model.ProviderLog" >
    <id column="log_id" property="logId" jdbcType="INTEGER" />
    <result column="log_datetime" property="logDatetime" jdbcType="TIMESTAMP" />
    <result column="provider_id" property="providerId" jdbcType="INTEGER" />
    <result column="provider_name" property="providerName" jdbcType="VARCHAR" />
    <result column="provider_code" property="providerCode" jdbcType="VARCHAR" />
    <result column="provider_contact_name" property="providerContactName" jdbcType="VARCHAR" />
    <result column="provider_contact_tel" property="providerContactTel" jdbcType="VARCHAR" />
    <result column="provider_contact_fax" property="providerContactFax" jdbcType="VARCHAR" />
    <result column="provider_contact_email" property="providerContactEmail" jdbcType="VARCHAR" />
    <result column="provider_contact_address" property="providerContactAddress" jdbcType="VARCHAR" />
    <result column="provider_bank_name" property="providerBankName" jdbcType="VARCHAR" />
    <result column="provider_bank_account_name" property="providerBankAccountName" jdbcType="VARCHAR" />
    <result column="provider_bank_account_code" property="providerBankAccountCode" jdbcType="VARCHAR" />
    <result column="provider_taxid" property="providerTaxid" jdbcType="VARCHAR" />
    <result column="provider_area" property="providerArea" jdbcType="VARCHAR" />
    <result column="provider_status" property="providerStatus" jdbcType="VARCHAR" />
    <result column="provider_createtime" property="providerCreatetime" jdbcType="TIMESTAMP" />
    <result column="provider_modifytime" property="providerModifytime" jdbcType="TIMESTAMP" />
    <result column="provider_endtime" property="providerEndtime" jdbcType="TIMESTAMP" />
    <result column="provider_remark" property="providerRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    log_id, log_datetime, provider_id, provider_name, provider_code, provider_contact_name, 
    provider_contact_tel, provider_contact_fax, provider_contact_email, provider_contact_address, 
    provider_bank_name, provider_bank_account_name, provider_bank_account_code, provider_taxid, 
    provider_area, provider_status, provider_createtime, provider_modifytime, provider_endtime, 
    provider_remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_provider_log
    where log_id = #{logId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_provider_log
    where log_id = #{logId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ai.psims.web.model.ProviderLog" >
    insert into tb_provider_log (log_id, log_datetime, provider_id, 
      provider_name, provider_code, provider_contact_name, 
      provider_contact_tel, provider_contact_fax, 
      provider_contact_email, provider_contact_address, 
      provider_bank_name, provider_bank_account_name, 
      provider_bank_account_code, provider_taxid, 
      provider_area, provider_status, provider_createtime, 
      provider_modifytime, provider_endtime, 
      provider_remark)
    values (#{logId,jdbcType=INTEGER}, #{logDatetime,jdbcType=TIMESTAMP}, #{providerId,jdbcType=INTEGER}, 
      #{providerName,jdbcType=VARCHAR}, #{providerCode,jdbcType=VARCHAR}, #{providerContactName,jdbcType=VARCHAR}, 
      #{providerContactTel,jdbcType=VARCHAR}, #{providerContactFax,jdbcType=VARCHAR}, 
      #{providerContactEmail,jdbcType=VARCHAR}, #{providerContactAddress,jdbcType=VARCHAR}, 
      #{providerBankName,jdbcType=VARCHAR}, #{providerBankAccountName,jdbcType=VARCHAR}, 
      #{providerBankAccountCode,jdbcType=VARCHAR}, #{providerTaxid,jdbcType=VARCHAR}, 
      #{providerArea,jdbcType=VARCHAR}, #{providerStatus,jdbcType=VARCHAR}, #{providerCreatetime,jdbcType=TIMESTAMP}, 
      #{providerModifytime,jdbcType=TIMESTAMP}, #{providerEndtime,jdbcType=TIMESTAMP}, 
      #{providerRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.psims.web.model.ProviderLog" >
    insert into tb_provider_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        log_id,
      </if>
      <if test="logDatetime != null" >
        log_datetime,
      </if>
      <if test="providerId != null" >
        provider_id,
      </if>
      <if test="providerName != null" >
        provider_name,
      </if>
      <if test="providerCode != null" >
        provider_code,
      </if>
      <if test="providerContactName != null" >
        provider_contact_name,
      </if>
      <if test="providerContactTel != null" >
        provider_contact_tel,
      </if>
      <if test="providerContactFax != null" >
        provider_contact_fax,
      </if>
      <if test="providerContactEmail != null" >
        provider_contact_email,
      </if>
      <if test="providerContactAddress != null" >
        provider_contact_address,
      </if>
      <if test="providerBankName != null" >
        provider_bank_name,
      </if>
      <if test="providerBankAccountName != null" >
        provider_bank_account_name,
      </if>
      <if test="providerBankAccountCode != null" >
        provider_bank_account_code,
      </if>
      <if test="providerTaxid != null" >
        provider_taxid,
      </if>
      <if test="providerArea != null" >
        provider_area,
      </if>
      <if test="providerStatus != null" >
        provider_status,
      </if>
      <if test="providerCreatetime != null" >
        provider_createtime,
      </if>
      <if test="providerModifytime != null" >
        provider_modifytime,
      </if>
      <if test="providerEndtime != null" >
        provider_endtime,
      </if>
      <if test="providerRemark != null" >
        provider_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        #{logId,jdbcType=INTEGER},
      </if>
      <if test="logDatetime != null" >
        #{logDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="providerId != null" >
        #{providerId,jdbcType=INTEGER},
      </if>
      <if test="providerName != null" >
        #{providerName,jdbcType=VARCHAR},
      </if>
      <if test="providerCode != null" >
        #{providerCode,jdbcType=VARCHAR},
      </if>
      <if test="providerContactName != null" >
        #{providerContactName,jdbcType=VARCHAR},
      </if>
      <if test="providerContactTel != null" >
        #{providerContactTel,jdbcType=VARCHAR},
      </if>
      <if test="providerContactFax != null" >
        #{providerContactFax,jdbcType=VARCHAR},
      </if>
      <if test="providerContactEmail != null" >
        #{providerContactEmail,jdbcType=VARCHAR},
      </if>
      <if test="providerContactAddress != null" >
        #{providerContactAddress,jdbcType=VARCHAR},
      </if>
      <if test="providerBankName != null" >
        #{providerBankName,jdbcType=VARCHAR},
      </if>
      <if test="providerBankAccountName != null" >
        #{providerBankAccountName,jdbcType=VARCHAR},
      </if>
      <if test="providerBankAccountCode != null" >
        #{providerBankAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="providerTaxid != null" >
        #{providerTaxid,jdbcType=VARCHAR},
      </if>
      <if test="providerArea != null" >
        #{providerArea,jdbcType=VARCHAR},
      </if>
      <if test="providerStatus != null" >
        #{providerStatus,jdbcType=VARCHAR},
      </if>
      <if test="providerCreatetime != null" >
        #{providerCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="providerModifytime != null" >
        #{providerModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="providerEndtime != null" >
        #{providerEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="providerRemark != null" >
        #{providerRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.psims.web.model.ProviderLog" >
    update tb_provider_log
    <set >
      <if test="logDatetime != null" >
        log_datetime = #{logDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="providerId != null" >
        provider_id = #{providerId,jdbcType=INTEGER},
      </if>
      <if test="providerName != null" >
        provider_name = #{providerName,jdbcType=VARCHAR},
      </if>
      <if test="providerCode != null" >
        provider_code = #{providerCode,jdbcType=VARCHAR},
      </if>
      <if test="providerContactName != null" >
        provider_contact_name = #{providerContactName,jdbcType=VARCHAR},
      </if>
      <if test="providerContactTel != null" >
        provider_contact_tel = #{providerContactTel,jdbcType=VARCHAR},
      </if>
      <if test="providerContactFax != null" >
        provider_contact_fax = #{providerContactFax,jdbcType=VARCHAR},
      </if>
      <if test="providerContactEmail != null" >
        provider_contact_email = #{providerContactEmail,jdbcType=VARCHAR},
      </if>
      <if test="providerContactAddress != null" >
        provider_contact_address = #{providerContactAddress,jdbcType=VARCHAR},
      </if>
      <if test="providerBankName != null" >
        provider_bank_name = #{providerBankName,jdbcType=VARCHAR},
      </if>
      <if test="providerBankAccountName != null" >
        provider_bank_account_name = #{providerBankAccountName,jdbcType=VARCHAR},
      </if>
      <if test="providerBankAccountCode != null" >
        provider_bank_account_code = #{providerBankAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="providerTaxid != null" >
        provider_taxid = #{providerTaxid,jdbcType=VARCHAR},
      </if>
      <if test="providerArea != null" >
        provider_area = #{providerArea,jdbcType=VARCHAR},
      </if>
      <if test="providerStatus != null" >
        provider_status = #{providerStatus,jdbcType=VARCHAR},
      </if>
      <if test="providerCreatetime != null" >
        provider_createtime = #{providerCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="providerModifytime != null" >
        provider_modifytime = #{providerModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="providerEndtime != null" >
        provider_endtime = #{providerEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="providerRemark != null" >
        provider_remark = #{providerRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.psims.web.model.ProviderLog" >
    update tb_provider_log
    set log_datetime = #{logDatetime,jdbcType=TIMESTAMP},
      provider_id = #{providerId,jdbcType=INTEGER},
      provider_name = #{providerName,jdbcType=VARCHAR},
      provider_code = #{providerCode,jdbcType=VARCHAR},
      provider_contact_name = #{providerContactName,jdbcType=VARCHAR},
      provider_contact_tel = #{providerContactTel,jdbcType=VARCHAR},
      provider_contact_fax = #{providerContactFax,jdbcType=VARCHAR},
      provider_contact_email = #{providerContactEmail,jdbcType=VARCHAR},
      provider_contact_address = #{providerContactAddress,jdbcType=VARCHAR},
      provider_bank_name = #{providerBankName,jdbcType=VARCHAR},
      provider_bank_account_name = #{providerBankAccountName,jdbcType=VARCHAR},
      provider_bank_account_code = #{providerBankAccountCode,jdbcType=VARCHAR},
      provider_taxid = #{providerTaxid,jdbcType=VARCHAR},
      provider_area = #{providerArea,jdbcType=VARCHAR},
      provider_status = #{providerStatus,jdbcType=VARCHAR},
      provider_createtime = #{providerCreatetime,jdbcType=TIMESTAMP},
      provider_modifytime = #{providerModifytime,jdbcType=TIMESTAMP},
      provider_endtime = #{providerEndtime,jdbcType=TIMESTAMP},
      provider_remark = #{providerRemark,jdbcType=VARCHAR}
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
</mapper>