<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.psims.web.dao.SalesbackGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.ai.psims.web.model.SalesbackGoods" >
    <result column="salesback_goods_id" property="salesbackGoodsId" jdbcType="INTEGER" />
    <result column="salesback_serial_number" property="salesbackSerialNumber" jdbcType="VARCHAR" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_type" property="goodsType" jdbcType="VARCHAR" />
    <result column="goods_amount" property="goodsAmount" jdbcType="INTEGER" />
    <result column="goods_unit" property="goodsUnit" jdbcType="VARCHAR" />
    <result column="goods_price" property="goodsPrice" jdbcType="BIGINT" />
    <result column="goods_production" property="goodsProduction" jdbcType="DATE" />
    <result column="goods_expiration" property="goodsExpiration" jdbcType="DATE" />
    <result column="discount_amount" property="discountAmount" jdbcType="BIGINT" />
    <result column="createtime" property="createtime" jdbcType="DATE" />
    <result column="modifytime" property="modifytime" jdbcType="DATE" />
    <result column="endtime" property="endtime" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="storage_id" property="storageId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    salesback_goods_id, salesback_serial_number, goods_id, goods_name, goods_type, goods_amount, 
    goods_unit, goods_price, goods_production, goods_expiration, discount_amount, createtime, 
    modifytime, endtime, remark, storage_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.psims.web.model.SalesbackGoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_salesback_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ai.psims.web.model.SalesbackGoodsExample" >
    delete from tb_salesback_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.psims.web.model.SalesbackGoods" >
    insert into tb_salesback_goods (salesback_goods_id, salesback_serial_number, 
      goods_id, goods_name, goods_type, 
      goods_amount, goods_unit, goods_price, 
      goods_production, goods_expiration, discount_amount, 
      createtime, modifytime, endtime, 
      remark, storage_id)
    values (#{salesbackGoodsId,jdbcType=INTEGER}, #{salesbackSerialNumber,jdbcType=VARCHAR}, 
      #{goodsId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsType,jdbcType=VARCHAR}, 
      #{goodsAmount,jdbcType=INTEGER}, #{goodsUnit,jdbcType=VARCHAR}, #{goodsPrice,jdbcType=BIGINT}, 
      #{goodsProduction,jdbcType=DATE}, #{goodsExpiration,jdbcType=DATE}, #{discountAmount,jdbcType=BIGINT}, 
      #{createtime,jdbcType=DATE}, #{modifytime,jdbcType=DATE}, #{endtime,jdbcType=DATE}, 
      #{remark,jdbcType=VARCHAR}, #{storageId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.psims.web.model.SalesbackGoods" >
    insert into tb_salesback_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="salesbackGoodsId != null" >
        salesback_goods_id,
      </if>
      <if test="salesbackSerialNumber != null" >
        salesback_serial_number,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsType != null" >
        goods_type,
      </if>
      <if test="goodsAmount != null" >
        goods_amount,
      </if>
      <if test="goodsUnit != null" >
        goods_unit,
      </if>
      <if test="goodsPrice != null" >
        goods_price,
      </if>
      <if test="goodsProduction != null" >
        goods_production,
      </if>
      <if test="goodsExpiration != null" >
        goods_expiration,
      </if>
      <if test="discountAmount != null" >
        discount_amount,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="modifytime != null" >
        modifytime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="storageId != null" >
        storage_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="salesbackGoodsId != null" >
        #{salesbackGoodsId,jdbcType=INTEGER},
      </if>
      <if test="salesbackSerialNumber != null" >
        #{salesbackSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="goodsAmount != null" >
        #{goodsAmount,jdbcType=INTEGER},
      </if>
      <if test="goodsUnit != null" >
        #{goodsUnit,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        #{goodsPrice,jdbcType=BIGINT},
      </if>
      <if test="goodsProduction != null" >
        #{goodsProduction,jdbcType=DATE},
      </if>
      <if test="goodsExpiration != null" >
        #{goodsExpiration,jdbcType=DATE},
      </if>
      <if test="discountAmount != null" >
        #{discountAmount,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=DATE},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=DATE},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="storageId != null" >
        #{storageId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.psims.web.model.SalesbackGoodsExample" resultType="java.lang.Integer" >
    select count(*) from tb_salesback_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_salesback_goods
    <set >
      <if test="record.salesbackGoodsId != null" >
        salesback_goods_id = #{record.salesbackGoodsId,jdbcType=INTEGER},
      </if>
      <if test="record.salesbackSerialNumber != null" >
        salesback_serial_number = #{record.salesbackSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsId != null" >
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsName != null" >
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsType != null" >
        goods_type = #{record.goodsType,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsAmount != null" >
        goods_amount = #{record.goodsAmount,jdbcType=INTEGER},
      </if>
      <if test="record.goodsUnit != null" >
        goods_unit = #{record.goodsUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsPrice != null" >
        goods_price = #{record.goodsPrice,jdbcType=BIGINT},
      </if>
      <if test="record.goodsProduction != null" >
        goods_production = #{record.goodsProduction,jdbcType=DATE},
      </if>
      <if test="record.goodsExpiration != null" >
        goods_expiration = #{record.goodsExpiration,jdbcType=DATE},
      </if>
      <if test="record.discountAmount != null" >
        discount_amount = #{record.discountAmount,jdbcType=BIGINT},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=DATE},
      </if>
      <if test="record.modifytime != null" >
        modifytime = #{record.modifytime,jdbcType=DATE},
      </if>
      <if test="record.endtime != null" >
        endtime = #{record.endtime,jdbcType=DATE},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.storageId != null" >
        storage_id = #{record.storageId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_salesback_goods
    set salesback_goods_id = #{record.salesbackGoodsId,jdbcType=INTEGER},
      salesback_serial_number = #{record.salesbackSerialNumber,jdbcType=VARCHAR},
      goods_id = #{record.goodsId,jdbcType=INTEGER},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      goods_type = #{record.goodsType,jdbcType=VARCHAR},
      goods_amount = #{record.goodsAmount,jdbcType=INTEGER},
      goods_unit = #{record.goodsUnit,jdbcType=VARCHAR},
      goods_price = #{record.goodsPrice,jdbcType=BIGINT},
      goods_production = #{record.goodsProduction,jdbcType=DATE},
      goods_expiration = #{record.goodsExpiration,jdbcType=DATE},
      discount_amount = #{record.discountAmount,jdbcType=BIGINT},
      createtime = #{record.createtime,jdbcType=DATE},
      modifytime = #{record.modifytime,jdbcType=DATE},
      endtime = #{record.endtime,jdbcType=DATE},
      remark = #{record.remark,jdbcType=VARCHAR},
      storage_id = #{record.storageId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>