<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.psims.web.dao.SalesMapper" >
  <resultMap id="BaseResultMap" type="com.ai.psims.web.model.Sales" >
    <id column="sales_serial_number" property="salesSerialNumber" jdbcType="VARCHAR" />
    <result column="sales_date" property="salesDate" jdbcType="DATE" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="storehouse_id" property="storehouseId" jdbcType="INTEGER" />
    <result column="storehouse_name" property="storehouseName" jdbcType="VARCHAR" />
    <result column="employee_id" property="employeeId" jdbcType="INTEGER" />
    <result column="employee_name" property="employeeName" jdbcType="VARCHAR" />
    <result column="income_type" property="incomeType" jdbcType="VARCHAR" />
    <result column="income_time" property="incomeTime" jdbcType="DATE" />
    <result column="sales_status" property="salesStatus" jdbcType="VARCHAR" />
    <result column="sales_type" property="salesType" jdbcType="VARCHAR" />
    <result column="sales_remark" property="salesRemark" jdbcType="VARCHAR" />
    <result column="sales_total_price" property="salesTotalPrice" jdbcType="BIGINT" />
    <result column="credit_count" property="creditCount" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sales_serial_number, sales_date, customer_id, customer_name, storehouse_id, storehouse_name, 
    employee_id, employee_name, income_type, income_time, sales_status, sales_type, sales_remark, 
    sales_total_price, credit_count
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.psims.web.model.SalesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_sales
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_sales
    where sales_serial_number = #{salesSerialNumber,jdbcType=VARCHAR}
  </select>
  <select id="selectSalesSerialNumber" resultType="java.lang.String" parameterType="java.lang.String" >
    select max(sales_serial_number)
    from tb_sales
    where sales_serial_number like CONCAT(CONCAT('%', #{salesSerialNumber,jdbcType=VARCHAR}), '%') 
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_sales
    where sales_serial_number = #{salesSerialNumber,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.psims.web.model.SalesExample" >
    delete from tb_sales
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.psims.web.model.Sales" >
    insert into tb_sales (sales_serial_number, sales_date, customer_id, 
      customer_name, storehouse_id, storehouse_name, 
      employee_id, employee_name, income_type, 
      income_time, sales_status, sales_type, 
      sales_remark, sales_total_price, credit_count
      )
    values (#{salesSerialNumber,jdbcType=VARCHAR}, #{salesDate,jdbcType=DATE}, #{customerId,jdbcType=INTEGER}, 
      #{customerName,jdbcType=VARCHAR}, #{storehouseId,jdbcType=INTEGER}, #{storehouseName,jdbcType=VARCHAR}, 
      #{employeeId,jdbcType=INTEGER}, #{employeeName,jdbcType=VARCHAR}, #{incomeType,jdbcType=VARCHAR}, 
      #{incomeTime,jdbcType=DATE}, #{salesStatus,jdbcType=VARCHAR}, #{salesType,jdbcType=VARCHAR}, 
      #{salesRemark,jdbcType=VARCHAR}, #{salesTotalPrice,jdbcType=BIGINT}, #{creditCount,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.psims.web.model.Sales" >
    insert into tb_sales
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="salesSerialNumber != null" >
        sales_serial_number,
      </if>
      <if test="salesDate != null" >
        sales_date,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="storehouseId != null" >
        storehouse_id,
      </if>
      <if test="storehouseName != null" >
        storehouse_name,
      </if>
      <if test="employeeId != null" >
        employee_id,
      </if>
      <if test="employeeName != null" >
        employee_name,
      </if>
      <if test="incomeType != null" >
        income_type,
      </if>
      <if test="incomeTime != null" >
        income_time,
      </if>
      <if test="salesStatus != null" >
        sales_status,
      </if>
      <if test="salesType != null" >
        sales_type,
      </if>
      <if test="salesRemark != null" >
        sales_remark,
      </if>
      <if test="salesTotalPrice != null" >
        sales_total_price,
      </if>
      <if test="creditCount != null" >
        credit_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="salesSerialNumber != null" >
        #{salesSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="salesDate != null" >
        #{salesDate,jdbcType=DATE},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="storehouseId != null" >
        #{storehouseId,jdbcType=INTEGER},
      </if>
      <if test="storehouseName != null" >
        #{storehouseName,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="employeeName != null" >
        #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="incomeType != null" >
        #{incomeType,jdbcType=VARCHAR},
      </if>
      <if test="incomeTime != null" >
        #{incomeTime,jdbcType=DATE},
      </if>
      <if test="salesStatus != null" >
        #{salesStatus,jdbcType=VARCHAR},
      </if>
      <if test="salesType != null" >
        #{salesType,jdbcType=VARCHAR},
      </if>
      <if test="salesRemark != null" >
        #{salesRemark,jdbcType=VARCHAR},
      </if>
      <if test="salesTotalPrice != null" >
        #{salesTotalPrice,jdbcType=BIGINT},
      </if>
      <if test="creditCount != null" >
        #{creditCount,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.psims.web.model.SalesExample" resultType="java.lang.Integer" >
    select count(*) from tb_sales
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_sales
    <set >
      <if test="record.salesSerialNumber != null" >
        sales_serial_number = #{record.salesSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.salesDate != null" >
        sales_date = #{record.salesDate,jdbcType=DATE},
      </if>
      <if test="record.customerId != null" >
        customer_id = #{record.customerId,jdbcType=INTEGER},
      </if>
      <if test="record.customerName != null" >
        customer_name = #{record.customerName,jdbcType=VARCHAR},
      </if>
      <if test="record.storehouseId != null" >
        storehouse_id = #{record.storehouseId,jdbcType=INTEGER},
      </if>
      <if test="record.storehouseName != null" >
        storehouse_name = #{record.storehouseName,jdbcType=VARCHAR},
      </if>
      <if test="record.employeeId != null" >
        employee_id = #{record.employeeId,jdbcType=INTEGER},
      </if>
      <if test="record.employeeName != null" >
        employee_name = #{record.employeeName,jdbcType=VARCHAR},
      </if>
      <if test="record.incomeType != null" >
        income_type = #{record.incomeType,jdbcType=VARCHAR},
      </if>
      <if test="record.incomeTime != null" >
        income_time = #{record.incomeTime,jdbcType=DATE},
      </if>
      <if test="record.salesStatus != null" >
        sales_status = #{record.salesStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.salesType != null" >
        sales_type = #{record.salesType,jdbcType=VARCHAR},
      </if>
      <if test="record.salesRemark != null" >
        sales_remark = #{record.salesRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.salesTotalPrice != null" >
        sales_total_price = #{record.salesTotalPrice,jdbcType=BIGINT},
      </if>
      <if test="record.creditCount != null" >
        credit_count = #{record.creditCount,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_sales
    set sales_serial_number = #{record.salesSerialNumber,jdbcType=VARCHAR},
      sales_date = #{record.salesDate,jdbcType=DATE},
      customer_id = #{record.customerId,jdbcType=INTEGER},
      customer_name = #{record.customerName,jdbcType=VARCHAR},
      storehouse_id = #{record.storehouseId,jdbcType=INTEGER},
      storehouse_name = #{record.storehouseName,jdbcType=VARCHAR},
      employee_id = #{record.employeeId,jdbcType=INTEGER},
      employee_name = #{record.employeeName,jdbcType=VARCHAR},
      income_type = #{record.incomeType,jdbcType=VARCHAR},
      income_time = #{record.incomeTime,jdbcType=DATE},
      sales_status = #{record.salesStatus,jdbcType=VARCHAR},
      sales_type = #{record.salesType,jdbcType=VARCHAR},
      sales_remark = #{record.salesRemark,jdbcType=VARCHAR},
      sales_total_price = #{record.salesTotalPrice,jdbcType=BIGINT},
      credit_count = #{record.creditCount,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.psims.web.model.Sales" >
    update tb_sales
    <set >
      <if test="salesDate != null" >
        sales_date = #{salesDate,jdbcType=DATE},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="storehouseId != null" >
        storehouse_id = #{storehouseId,jdbcType=INTEGER},
      </if>
      <if test="storehouseName != null" >
        storehouse_name = #{storehouseName,jdbcType=VARCHAR},
      </if>
      <if test="employeeId != null" >
        employee_id = #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="employeeName != null" >
        employee_name = #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="incomeType != null" >
        income_type = #{incomeType,jdbcType=VARCHAR},
      </if>
      <if test="incomeTime != null" >
        income_time = #{incomeTime,jdbcType=DATE},
      </if>
      <if test="salesStatus != null" >
        sales_status = #{salesStatus,jdbcType=VARCHAR},
      </if>
      <if test="salesType != null" >
        sales_type = #{salesType,jdbcType=VARCHAR},
      </if>
      <if test="salesRemark != null" >
        sales_remark = #{salesRemark,jdbcType=VARCHAR},
      </if>
      <if test="salesTotalPrice != null" >
        sales_total_price = #{salesTotalPrice,jdbcType=BIGINT},
      </if>
      <if test="creditCount != null" >
        credit_count = #{creditCount,jdbcType=BIGINT},
      </if>
    </set>
    where sales_serial_number = #{salesSerialNumber,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.psims.web.model.Sales" >
    update tb_sales
    set sales_date = #{salesDate,jdbcType=DATE},
      customer_id = #{customerId,jdbcType=INTEGER},
      customer_name = #{customerName,jdbcType=VARCHAR},
      storehouse_id = #{storehouseId,jdbcType=INTEGER},
      storehouse_name = #{storehouseName,jdbcType=VARCHAR},
      employee_id = #{employeeId,jdbcType=INTEGER},
      employee_name = #{employeeName,jdbcType=VARCHAR},
      income_type = #{incomeType,jdbcType=VARCHAR},
      income_time = #{incomeTime,jdbcType=DATE},
      sales_status = #{salesStatus,jdbcType=VARCHAR},
      sales_type = #{salesType,jdbcType=VARCHAR},
      sales_remark = #{salesRemark,jdbcType=VARCHAR},
      sales_total_price = #{salesTotalPrice,jdbcType=BIGINT},
      credit_count = #{creditCount,jdbcType=BIGINT}
    where sales_serial_number = #{salesSerialNumber,jdbcType=VARCHAR}
  </update>
</mapper>