<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.psims.web.dao.TbGoods2customerLogMapper" >
  <resultMap id="BaseResultMap" type="com.ai.psims.web.model.TbGoods2customerLog" >
    <id column="log_id" property="logId" jdbcType="INTEGER" />
    <result column="log_datetime" property="logDatetime" jdbcType="TIMESTAMP" />
    <result column="goods2customer_id" property="goods2customerId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_code" property="goodsCode" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="customer_code" property="customerCode" jdbcType="VARCHAR" />
    <result column="goods_version" property="goodsVersion" jdbcType="INTEGER" />
    <result column="goods_unit" property="goodsUnit" jdbcType="VARCHAR" />
    <result column="goods_bar_code" property="goodsBarCode" jdbcType="VARCHAR" />
    <result column="goods_current_stock" property="goodsCurrentStock" jdbcType="INTEGER" />
    <result column="goods_total_stock" property="goodsTotalStock" jdbcType="INTEGER" />
    <result column="goods_production_date" property="goodsProductionDate" jdbcType="TIMESTAMP" />
    <result column="goods_expiration_date" property="goodsExpirationDate" jdbcType="TIMESTAMP" />
    <result column="goods_shelf_life" property="goodsShelfLife" jdbcType="INTEGER" />
    <result column="goods_actual_cost" property="goodsActualCost" jdbcType="VARCHAR" />
    <result column="goods_price" property="goodsPrice" jdbcType="VARCHAR" />
    <result column="goods_profit" property="goodsProfit" jdbcType="VARCHAR" />
    <result column="goods_prize_pool_ratio" property="goodsPrizePoolRatio" jdbcType="VARCHAR" />
    <result column="goods_type" property="goodsType" jdbcType="VARCHAR" />
    <result column="goods_status" property="goodsStatus" jdbcType="VARCHAR" />
    <result column="goods_createtime" property="goodsCreatetime" jdbcType="TIMESTAMP" />
    <result column="goods_modifytime" property="goodsModifytime" jdbcType="TIMESTAMP" />
    <result column="goods_endtime" property="goodsEndtime" jdbcType="TIMESTAMP" />
    <result column="provider_id" property="providerId" jdbcType="INTEGER" />
    <result column="provider_name" property="providerName" jdbcType="VARCHAR" />
    <result column="provider_code" property="providerCode" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="goods_discount" property="goodsDiscount" jdbcType="VARCHAR" />
    <result column="single_rebate" property="singleRebate" jdbcType="VARCHAR" />
    <result column="quarter_rebate" property="quarterRebate" jdbcType="VARCHAR" />
    <result column="annual_rebate" property="annualRebate" jdbcType="VARCHAR" />
    <result column="purchase_rebate" property="purchaseRebate" jdbcType="VARCHAR" />
    <result column="promotion_rebate" property="promotionRebate" jdbcType="VARCHAR" />
    <result column="provider_subsidy" property="providerSubsidy" jdbcType="VARCHAR" />
    <result column="customer_bottle_subsidy" property="customerBottleSubsidy" jdbcType="VARCHAR" />
    <result column="customer_package_subsidy" property="customerPackageSubsidy" jdbcType="VARCHAR" />
    <result column="provider_package_subsidy" property="providerPackageSubsidy" jdbcType="VARCHAR" />
    <result column="customer_subsidy" property="customerSubsidy" jdbcType="VARCHAR" />
    <result column="other_subsidy" property="otherSubsidy" jdbcType="VARCHAR" />
    <result column="storage_warning" property="storageWarning" jdbcType="INTEGER" />
    <result column="shelf_life_warning" property="shelfLifeWarning" jdbcType="INTEGER" />
    <result column="single_final_cost" property="singleFinalCost" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    log_id, log_datetime, goods2customer_id, goods_id, goods_name, goods_code, customer_id, 
    customer_name, customer_code, goods_version, goods_unit, goods_bar_code, goods_current_stock, 
    goods_total_stock, goods_production_date, goods_expiration_date, goods_shelf_life, 
    goods_actual_cost, goods_price, goods_profit, goods_prize_pool_ratio, goods_type, 
    goods_status, goods_createtime, goods_modifytime, goods_endtime, provider_id, provider_name, 
    provider_code, remark, goods_discount, single_rebate, quarter_rebate, annual_rebate, 
    purchase_rebate, promotion_rebate, provider_subsidy, customer_bottle_subsidy, customer_package_subsidy, 
    provider_package_subsidy, customer_subsidy, other_subsidy, storage_warning, shelf_life_warning, 
    single_final_cost
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.psims.web.model.TbGoods2customerLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_goods2customer_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_goods2customer_log
    where log_id = #{logId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_goods2customer_log
    where log_id = #{logId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.psims.web.model.TbGoods2customerLogExample" >
    delete from tb_goods2customer_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.psims.web.model.TbGoods2customerLog" >
    insert into tb_goods2customer_log (log_id, log_datetime, goods2customer_id, 
      goods_id, goods_name, goods_code, 
      customer_id, customer_name, customer_code, 
      goods_version, goods_unit, goods_bar_code, 
      goods_current_stock, goods_total_stock, goods_production_date, 
      goods_expiration_date, goods_shelf_life, 
      goods_actual_cost, goods_price, goods_profit, 
      goods_prize_pool_ratio, goods_type, goods_status, 
      goods_createtime, goods_modifytime, goods_endtime, 
      provider_id, provider_name, provider_code, 
      remark, goods_discount, single_rebate, 
      quarter_rebate, annual_rebate, purchase_rebate, 
      promotion_rebate, provider_subsidy, customer_bottle_subsidy, 
      customer_package_subsidy, provider_package_subsidy, 
      customer_subsidy, other_subsidy, storage_warning, 
      shelf_life_warning, single_final_cost)
    values (#{logId,jdbcType=INTEGER}, #{logDatetime,jdbcType=TIMESTAMP}, #{goods2customerId,jdbcType=INTEGER}, 
      #{goodsId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsCode,jdbcType=VARCHAR}, 
      #{customerId,jdbcType=INTEGER}, #{customerName,jdbcType=VARCHAR}, #{customerCode,jdbcType=VARCHAR}, 
      #{goodsVersion,jdbcType=INTEGER}, #{goodsUnit,jdbcType=VARCHAR}, #{goodsBarCode,jdbcType=VARCHAR}, 
      #{goodsCurrentStock,jdbcType=INTEGER}, #{goodsTotalStock,jdbcType=INTEGER}, #{goodsProductionDate,jdbcType=TIMESTAMP}, 
      #{goodsExpirationDate,jdbcType=TIMESTAMP}, #{goodsShelfLife,jdbcType=INTEGER}, 
      #{goodsActualCost,jdbcType=VARCHAR}, #{goodsPrice,jdbcType=VARCHAR}, #{goodsProfit,jdbcType=VARCHAR}, 
      #{goodsPrizePoolRatio,jdbcType=VARCHAR}, #{goodsType,jdbcType=VARCHAR}, #{goodsStatus,jdbcType=VARCHAR}, 
      #{goodsCreatetime,jdbcType=TIMESTAMP}, #{goodsModifytime,jdbcType=TIMESTAMP}, #{goodsEndtime,jdbcType=TIMESTAMP}, 
      #{providerId,jdbcType=INTEGER}, #{providerName,jdbcType=VARCHAR}, #{providerCode,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{goodsDiscount,jdbcType=VARCHAR}, #{singleRebate,jdbcType=VARCHAR}, 
      #{quarterRebate,jdbcType=VARCHAR}, #{annualRebate,jdbcType=VARCHAR}, #{purchaseRebate,jdbcType=VARCHAR}, 
      #{promotionRebate,jdbcType=VARCHAR}, #{providerSubsidy,jdbcType=VARCHAR}, #{customerBottleSubsidy,jdbcType=VARCHAR}, 
      #{customerPackageSubsidy,jdbcType=VARCHAR}, #{providerPackageSubsidy,jdbcType=VARCHAR}, 
      #{customerSubsidy,jdbcType=VARCHAR}, #{otherSubsidy,jdbcType=VARCHAR}, #{storageWarning,jdbcType=INTEGER}, 
      #{shelfLifeWarning,jdbcType=INTEGER}, #{singleFinalCost,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.psims.web.model.TbGoods2customerLog" >
    insert into tb_goods2customer_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        log_id,
      </if>
      <if test="logDatetime != null" >
        log_datetime,
      </if>
      <if test="goods2customerId != null" >
        goods2customer_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsCode != null" >
        goods_code,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="customerCode != null" >
        customer_code,
      </if>
      <if test="goodsVersion != null" >
        goods_version,
      </if>
      <if test="goodsUnit != null" >
        goods_unit,
      </if>
      <if test="goodsBarCode != null" >
        goods_bar_code,
      </if>
      <if test="goodsCurrentStock != null" >
        goods_current_stock,
      </if>
      <if test="goodsTotalStock != null" >
        goods_total_stock,
      </if>
      <if test="goodsProductionDate != null" >
        goods_production_date,
      </if>
      <if test="goodsExpirationDate != null" >
        goods_expiration_date,
      </if>
      <if test="goodsShelfLife != null" >
        goods_shelf_life,
      </if>
      <if test="goodsActualCost != null" >
        goods_actual_cost,
      </if>
      <if test="goodsPrice != null" >
        goods_price,
      </if>
      <if test="goodsProfit != null" >
        goods_profit,
      </if>
      <if test="goodsPrizePoolRatio != null" >
        goods_prize_pool_ratio,
      </if>
      <if test="goodsType != null" >
        goods_type,
      </if>
      <if test="goodsStatus != null" >
        goods_status,
      </if>
      <if test="goodsCreatetime != null" >
        goods_createtime,
      </if>
      <if test="goodsModifytime != null" >
        goods_modifytime,
      </if>
      <if test="goodsEndtime != null" >
        goods_endtime,
      </if>
      <if test="providerId != null" >
        provider_id,
      </if>
      <if test="providerName != null" >
        provider_name,
      </if>
      <if test="providerCode != null" >
        provider_code,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="goodsDiscount != null" >
        goods_discount,
      </if>
      <if test="singleRebate != null" >
        single_rebate,
      </if>
      <if test="quarterRebate != null" >
        quarter_rebate,
      </if>
      <if test="annualRebate != null" >
        annual_rebate,
      </if>
      <if test="purchaseRebate != null" >
        purchase_rebate,
      </if>
      <if test="promotionRebate != null" >
        promotion_rebate,
      </if>
      <if test="providerSubsidy != null" >
        provider_subsidy,
      </if>
      <if test="customerBottleSubsidy != null" >
        customer_bottle_subsidy,
      </if>
      <if test="customerPackageSubsidy != null" >
        customer_package_subsidy,
      </if>
      <if test="providerPackageSubsidy != null" >
        provider_package_subsidy,
      </if>
      <if test="customerSubsidy != null" >
        customer_subsidy,
      </if>
      <if test="otherSubsidy != null" >
        other_subsidy,
      </if>
      <if test="storageWarning != null" >
        storage_warning,
      </if>
      <if test="shelfLifeWarning != null" >
        shelf_life_warning,
      </if>
      <if test="singleFinalCost != null" >
        single_final_cost,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        #{logId,jdbcType=INTEGER},
      </if>
      <if test="logDatetime != null" >
        #{logDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="goods2customerId != null" >
        #{goods2customerId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null" >
        #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerCode != null" >
        #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsVersion != null" >
        #{goodsVersion,jdbcType=INTEGER},
      </if>
      <if test="goodsUnit != null" >
        #{goodsUnit,jdbcType=VARCHAR},
      </if>
      <if test="goodsBarCode != null" >
        #{goodsBarCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsCurrentStock != null" >
        #{goodsCurrentStock,jdbcType=INTEGER},
      </if>
      <if test="goodsTotalStock != null" >
        #{goodsTotalStock,jdbcType=INTEGER},
      </if>
      <if test="goodsProductionDate != null" >
        #{goodsProductionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsExpirationDate != null" >
        #{goodsExpirationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsShelfLife != null" >
        #{goodsShelfLife,jdbcType=INTEGER},
      </if>
      <if test="goodsActualCost != null" >
        #{goodsActualCost,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        #{goodsPrice,jdbcType=VARCHAR},
      </if>
      <if test="goodsProfit != null" >
        #{goodsProfit,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrizePoolRatio != null" >
        #{goodsPrizePoolRatio,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="goodsStatus != null" >
        #{goodsStatus,jdbcType=VARCHAR},
      </if>
      <if test="goodsCreatetime != null" >
        #{goodsCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsModifytime != null" >
        #{goodsModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsEndtime != null" >
        #{goodsEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="providerId != null" >
        #{providerId,jdbcType=INTEGER},
      </if>
      <if test="providerName != null" >
        #{providerName,jdbcType=VARCHAR},
      </if>
      <if test="providerCode != null" >
        #{providerCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="goodsDiscount != null" >
        #{goodsDiscount,jdbcType=VARCHAR},
      </if>
      <if test="singleRebate != null" >
        #{singleRebate,jdbcType=VARCHAR},
      </if>
      <if test="quarterRebate != null" >
        #{quarterRebate,jdbcType=VARCHAR},
      </if>
      <if test="annualRebate != null" >
        #{annualRebate,jdbcType=VARCHAR},
      </if>
      <if test="purchaseRebate != null" >
        #{purchaseRebate,jdbcType=VARCHAR},
      </if>
      <if test="promotionRebate != null" >
        #{promotionRebate,jdbcType=VARCHAR},
      </if>
      <if test="providerSubsidy != null" >
        #{providerSubsidy,jdbcType=VARCHAR},
      </if>
      <if test="customerBottleSubsidy != null" >
        #{customerBottleSubsidy,jdbcType=VARCHAR},
      </if>
      <if test="customerPackageSubsidy != null" >
        #{customerPackageSubsidy,jdbcType=VARCHAR},
      </if>
      <if test="providerPackageSubsidy != null" >
        #{providerPackageSubsidy,jdbcType=VARCHAR},
      </if>
      <if test="customerSubsidy != null" >
        #{customerSubsidy,jdbcType=VARCHAR},
      </if>
      <if test="otherSubsidy != null" >
        #{otherSubsidy,jdbcType=VARCHAR},
      </if>
      <if test="storageWarning != null" >
        #{storageWarning,jdbcType=INTEGER},
      </if>
      <if test="shelfLifeWarning != null" >
        #{shelfLifeWarning,jdbcType=INTEGER},
      </if>
      <if test="singleFinalCost != null" >
        #{singleFinalCost,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.psims.web.model.TbGoods2customerLogExample" resultType="java.lang.Integer" >
    select count(*) from tb_goods2customer_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_goods2customer_log
    <set >
      <if test="record.logId != null" >
        log_id = #{record.logId,jdbcType=INTEGER},
      </if>
      <if test="record.logDatetime != null" >
        log_datetime = #{record.logDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.goods2customerId != null" >
        goods2customer_id = #{record.goods2customerId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsId != null" >
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsName != null" >
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsCode != null" >
        goods_code = #{record.goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="record.customerId != null" >
        customer_id = #{record.customerId,jdbcType=INTEGER},
      </if>
      <if test="record.customerName != null" >
        customer_name = #{record.customerName,jdbcType=VARCHAR},
      </if>
      <if test="record.customerCode != null" >
        customer_code = #{record.customerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsVersion != null" >
        goods_version = #{record.goodsVersion,jdbcType=INTEGER},
      </if>
      <if test="record.goodsUnit != null" >
        goods_unit = #{record.goodsUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsBarCode != null" >
        goods_bar_code = #{record.goodsBarCode,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsCurrentStock != null" >
        goods_current_stock = #{record.goodsCurrentStock,jdbcType=INTEGER},
      </if>
      <if test="record.goodsTotalStock != null" >
        goods_total_stock = #{record.goodsTotalStock,jdbcType=INTEGER},
      </if>
      <if test="record.goodsProductionDate != null" >
        goods_production_date = #{record.goodsProductionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.goodsExpirationDate != null" >
        goods_expiration_date = #{record.goodsExpirationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.goodsShelfLife != null" >
        goods_shelf_life = #{record.goodsShelfLife,jdbcType=INTEGER},
      </if>
      <if test="record.goodsActualCost != null" >
        goods_actual_cost = #{record.goodsActualCost,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsPrice != null" >
        goods_price = #{record.goodsPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsProfit != null" >
        goods_profit = #{record.goodsProfit,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsPrizePoolRatio != null" >
        goods_prize_pool_ratio = #{record.goodsPrizePoolRatio,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsType != null" >
        goods_type = #{record.goodsType,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsStatus != null" >
        goods_status = #{record.goodsStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsCreatetime != null" >
        goods_createtime = #{record.goodsCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.goodsModifytime != null" >
        goods_modifytime = #{record.goodsModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.goodsEndtime != null" >
        goods_endtime = #{record.goodsEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.providerId != null" >
        provider_id = #{record.providerId,jdbcType=INTEGER},
      </if>
      <if test="record.providerName != null" >
        provider_name = #{record.providerName,jdbcType=VARCHAR},
      </if>
      <if test="record.providerCode != null" >
        provider_code = #{record.providerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsDiscount != null" >
        goods_discount = #{record.goodsDiscount,jdbcType=VARCHAR},
      </if>
      <if test="record.singleRebate != null" >
        single_rebate = #{record.singleRebate,jdbcType=VARCHAR},
      </if>
      <if test="record.quarterRebate != null" >
        quarter_rebate = #{record.quarterRebate,jdbcType=VARCHAR},
      </if>
      <if test="record.annualRebate != null" >
        annual_rebate = #{record.annualRebate,jdbcType=VARCHAR},
      </if>
      <if test="record.purchaseRebate != null" >
        purchase_rebate = #{record.purchaseRebate,jdbcType=VARCHAR},
      </if>
      <if test="record.promotionRebate != null" >
        promotion_rebate = #{record.promotionRebate,jdbcType=VARCHAR},
      </if>
      <if test="record.providerSubsidy != null" >
        provider_subsidy = #{record.providerSubsidy,jdbcType=VARCHAR},
      </if>
      <if test="record.customerBottleSubsidy != null" >
        customer_bottle_subsidy = #{record.customerBottleSubsidy,jdbcType=VARCHAR},
      </if>
      <if test="record.customerPackageSubsidy != null" >
        customer_package_subsidy = #{record.customerPackageSubsidy,jdbcType=VARCHAR},
      </if>
      <if test="record.providerPackageSubsidy != null" >
        provider_package_subsidy = #{record.providerPackageSubsidy,jdbcType=VARCHAR},
      </if>
      <if test="record.customerSubsidy != null" >
        customer_subsidy = #{record.customerSubsidy,jdbcType=VARCHAR},
      </if>
      <if test="record.otherSubsidy != null" >
        other_subsidy = #{record.otherSubsidy,jdbcType=VARCHAR},
      </if>
      <if test="record.storageWarning != null" >
        storage_warning = #{record.storageWarning,jdbcType=INTEGER},
      </if>
      <if test="record.shelfLifeWarning != null" >
        shelf_life_warning = #{record.shelfLifeWarning,jdbcType=INTEGER},
      </if>
      <if test="record.singleFinalCost != null" >
        single_final_cost = #{record.singleFinalCost,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_goods2customer_log
    set log_id = #{record.logId,jdbcType=INTEGER},
      log_datetime = #{record.logDatetime,jdbcType=TIMESTAMP},
      goods2customer_id = #{record.goods2customerId,jdbcType=INTEGER},
      goods_id = #{record.goodsId,jdbcType=INTEGER},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      goods_code = #{record.goodsCode,jdbcType=VARCHAR},
      customer_id = #{record.customerId,jdbcType=INTEGER},
      customer_name = #{record.customerName,jdbcType=VARCHAR},
      customer_code = #{record.customerCode,jdbcType=VARCHAR},
      goods_version = #{record.goodsVersion,jdbcType=INTEGER},
      goods_unit = #{record.goodsUnit,jdbcType=VARCHAR},
      goods_bar_code = #{record.goodsBarCode,jdbcType=VARCHAR},
      goods_current_stock = #{record.goodsCurrentStock,jdbcType=INTEGER},
      goods_total_stock = #{record.goodsTotalStock,jdbcType=INTEGER},
      goods_production_date = #{record.goodsProductionDate,jdbcType=TIMESTAMP},
      goods_expiration_date = #{record.goodsExpirationDate,jdbcType=TIMESTAMP},
      goods_shelf_life = #{record.goodsShelfLife,jdbcType=INTEGER},
      goods_actual_cost = #{record.goodsActualCost,jdbcType=VARCHAR},
      goods_price = #{record.goodsPrice,jdbcType=VARCHAR},
      goods_profit = #{record.goodsProfit,jdbcType=VARCHAR},
      goods_prize_pool_ratio = #{record.goodsPrizePoolRatio,jdbcType=VARCHAR},
      goods_type = #{record.goodsType,jdbcType=VARCHAR},
      goods_status = #{record.goodsStatus,jdbcType=VARCHAR},
      goods_createtime = #{record.goodsCreatetime,jdbcType=TIMESTAMP},
      goods_modifytime = #{record.goodsModifytime,jdbcType=TIMESTAMP},
      goods_endtime = #{record.goodsEndtime,jdbcType=TIMESTAMP},
      provider_id = #{record.providerId,jdbcType=INTEGER},
      provider_name = #{record.providerName,jdbcType=VARCHAR},
      provider_code = #{record.providerCode,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      goods_discount = #{record.goodsDiscount,jdbcType=VARCHAR},
      single_rebate = #{record.singleRebate,jdbcType=VARCHAR},
      quarter_rebate = #{record.quarterRebate,jdbcType=VARCHAR},
      annual_rebate = #{record.annualRebate,jdbcType=VARCHAR},
      purchase_rebate = #{record.purchaseRebate,jdbcType=VARCHAR},
      promotion_rebate = #{record.promotionRebate,jdbcType=VARCHAR},
      provider_subsidy = #{record.providerSubsidy,jdbcType=VARCHAR},
      customer_bottle_subsidy = #{record.customerBottleSubsidy,jdbcType=VARCHAR},
      customer_package_subsidy = #{record.customerPackageSubsidy,jdbcType=VARCHAR},
      provider_package_subsidy = #{record.providerPackageSubsidy,jdbcType=VARCHAR},
      customer_subsidy = #{record.customerSubsidy,jdbcType=VARCHAR},
      other_subsidy = #{record.otherSubsidy,jdbcType=VARCHAR},
      storage_warning = #{record.storageWarning,jdbcType=INTEGER},
      shelf_life_warning = #{record.shelfLifeWarning,jdbcType=INTEGER},
      single_final_cost = #{record.singleFinalCost,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.psims.web.model.TbGoods2customerLog" >
    update tb_goods2customer_log
    <set >
      <if test="logDatetime != null" >
        log_datetime = #{logDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="goods2customerId != null" >
        goods2customer_id = #{goods2customerId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null" >
        goods_code = #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerCode != null" >
        customer_code = #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsVersion != null" >
        goods_version = #{goodsVersion,jdbcType=INTEGER},
      </if>
      <if test="goodsUnit != null" >
        goods_unit = #{goodsUnit,jdbcType=VARCHAR},
      </if>
      <if test="goodsBarCode != null" >
        goods_bar_code = #{goodsBarCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsCurrentStock != null" >
        goods_current_stock = #{goodsCurrentStock,jdbcType=INTEGER},
      </if>
      <if test="goodsTotalStock != null" >
        goods_total_stock = #{goodsTotalStock,jdbcType=INTEGER},
      </if>
      <if test="goodsProductionDate != null" >
        goods_production_date = #{goodsProductionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsExpirationDate != null" >
        goods_expiration_date = #{goodsExpirationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsShelfLife != null" >
        goods_shelf_life = #{goodsShelfLife,jdbcType=INTEGER},
      </if>
      <if test="goodsActualCost != null" >
        goods_actual_cost = #{goodsActualCost,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        goods_price = #{goodsPrice,jdbcType=VARCHAR},
      </if>
      <if test="goodsProfit != null" >
        goods_profit = #{goodsProfit,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrizePoolRatio != null" >
        goods_prize_pool_ratio = #{goodsPrizePoolRatio,jdbcType=VARCHAR},
      </if>
      <if test="goodsType != null" >
        goods_type = #{goodsType,jdbcType=VARCHAR},
      </if>
      <if test="goodsStatus != null" >
        goods_status = #{goodsStatus,jdbcType=VARCHAR},
      </if>
      <if test="goodsCreatetime != null" >
        goods_createtime = #{goodsCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsModifytime != null" >
        goods_modifytime = #{goodsModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsEndtime != null" >
        goods_endtime = #{goodsEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="providerId != null" >
        provider_id = #{providerId,jdbcType=INTEGER},
      </if>
      <if test="providerName != null" >
        provider_name = #{providerName,jdbcType=VARCHAR},
      </if>
      <if test="providerCode != null" >
        provider_code = #{providerCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="goodsDiscount != null" >
        goods_discount = #{goodsDiscount,jdbcType=VARCHAR},
      </if>
      <if test="singleRebate != null" >
        single_rebate = #{singleRebate,jdbcType=VARCHAR},
      </if>
      <if test="quarterRebate != null" >
        quarter_rebate = #{quarterRebate,jdbcType=VARCHAR},
      </if>
      <if test="annualRebate != null" >
        annual_rebate = #{annualRebate,jdbcType=VARCHAR},
      </if>
      <if test="purchaseRebate != null" >
        purchase_rebate = #{purchaseRebate,jdbcType=VARCHAR},
      </if>
      <if test="promotionRebate != null" >
        promotion_rebate = #{promotionRebate,jdbcType=VARCHAR},
      </if>
      <if test="providerSubsidy != null" >
        provider_subsidy = #{providerSubsidy,jdbcType=VARCHAR},
      </if>
      <if test="customerBottleSubsidy != null" >
        customer_bottle_subsidy = #{customerBottleSubsidy,jdbcType=VARCHAR},
      </if>
      <if test="customerPackageSubsidy != null" >
        customer_package_subsidy = #{customerPackageSubsidy,jdbcType=VARCHAR},
      </if>
      <if test="providerPackageSubsidy != null" >
        provider_package_subsidy = #{providerPackageSubsidy,jdbcType=VARCHAR},
      </if>
      <if test="customerSubsidy != null" >
        customer_subsidy = #{customerSubsidy,jdbcType=VARCHAR},
      </if>
      <if test="otherSubsidy != null" >
        other_subsidy = #{otherSubsidy,jdbcType=VARCHAR},
      </if>
      <if test="storageWarning != null" >
        storage_warning = #{storageWarning,jdbcType=INTEGER},
      </if>
      <if test="shelfLifeWarning != null" >
        shelf_life_warning = #{shelfLifeWarning,jdbcType=INTEGER},
      </if>
      <if test="singleFinalCost != null" >
        single_final_cost = #{singleFinalCost,jdbcType=VARCHAR},
      </if>
    </set>
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.psims.web.model.TbGoods2customerLog" >
    update tb_goods2customer_log
    set log_datetime = #{logDatetime,jdbcType=TIMESTAMP},
      goods2customer_id = #{goods2customerId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_code = #{goodsCode,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=INTEGER},
      customer_name = #{customerName,jdbcType=VARCHAR},
      customer_code = #{customerCode,jdbcType=VARCHAR},
      goods_version = #{goodsVersion,jdbcType=INTEGER},
      goods_unit = #{goodsUnit,jdbcType=VARCHAR},
      goods_bar_code = #{goodsBarCode,jdbcType=VARCHAR},
      goods_current_stock = #{goodsCurrentStock,jdbcType=INTEGER},
      goods_total_stock = #{goodsTotalStock,jdbcType=INTEGER},
      goods_production_date = #{goodsProductionDate,jdbcType=TIMESTAMP},
      goods_expiration_date = #{goodsExpirationDate,jdbcType=TIMESTAMP},
      goods_shelf_life = #{goodsShelfLife,jdbcType=INTEGER},
      goods_actual_cost = #{goodsActualCost,jdbcType=VARCHAR},
      goods_price = #{goodsPrice,jdbcType=VARCHAR},
      goods_profit = #{goodsProfit,jdbcType=VARCHAR},
      goods_prize_pool_ratio = #{goodsPrizePoolRatio,jdbcType=VARCHAR},
      goods_type = #{goodsType,jdbcType=VARCHAR},
      goods_status = #{goodsStatus,jdbcType=VARCHAR},
      goods_createtime = #{goodsCreatetime,jdbcType=TIMESTAMP},
      goods_modifytime = #{goodsModifytime,jdbcType=TIMESTAMP},
      goods_endtime = #{goodsEndtime,jdbcType=TIMESTAMP},
      provider_id = #{providerId,jdbcType=INTEGER},
      provider_name = #{providerName,jdbcType=VARCHAR},
      provider_code = #{providerCode,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      goods_discount = #{goodsDiscount,jdbcType=VARCHAR},
      single_rebate = #{singleRebate,jdbcType=VARCHAR},
      quarter_rebate = #{quarterRebate,jdbcType=VARCHAR},
      annual_rebate = #{annualRebate,jdbcType=VARCHAR},
      purchase_rebate = #{purchaseRebate,jdbcType=VARCHAR},
      promotion_rebate = #{promotionRebate,jdbcType=VARCHAR},
      provider_subsidy = #{providerSubsidy,jdbcType=VARCHAR},
      customer_bottle_subsidy = #{customerBottleSubsidy,jdbcType=VARCHAR},
      customer_package_subsidy = #{customerPackageSubsidy,jdbcType=VARCHAR},
      provider_package_subsidy = #{providerPackageSubsidy,jdbcType=VARCHAR},
      customer_subsidy = #{customerSubsidy,jdbcType=VARCHAR},
      other_subsidy = #{otherSubsidy,jdbcType=VARCHAR},
      storage_warning = #{storageWarning,jdbcType=INTEGER},
      shelf_life_warning = #{shelfLifeWarning,jdbcType=INTEGER},
      single_final_cost = #{singleFinalCost,jdbcType=VARCHAR}
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
</mapper>