<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.psims.web.dao.TbImportGoodsLogMapper" >
  <resultMap id="BaseResultMap" type="com.ai.psims.web.model.TbImportGoodsLog" >
    <id column="log_id" property="logId" jdbcType="INTEGER" />
    <result column="log_datetime" property="logDatetime" jdbcType="TIMESTAMP" />
    <result column="import_goods_id" property="importGoodsId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_code" property="goodsCode" jdbcType="VARCHAR" />
    <result column="import_goods_type" property="importGoodsType" jdbcType="VARCHAR" />
    <result column="import_goods_unit" property="importGoodsUnit" jdbcType="VARCHAR" />
    <result column="import_goods_amount" property="importGoodsAmount" jdbcType="INTEGER" />
    <result column="import_goods_price" property="importGoodsPrice" jdbcType="VARCHAR" />
    <result column="import_discount_rate" property="importDiscountRate" jdbcType="VARCHAR" />
    <result column="import_discount_price" property="importDiscountPrice" jdbcType="VARCHAR" />
    <result column="import_goods_total_price" property="importGoodsTotalPrice" jdbcType="VARCHAR" />
    <result column="discount_duty_total_price" property="discountDutyTotalPrice" jdbcType="VARCHAR" />
    <result column="discount_goods_total_price" property="discountGoodsTotalPrice" jdbcType="VARCHAR" />
    <result column="import_goods_createtime" property="importGoodsCreatetime" jdbcType="TIMESTAMP" />
    <result column="import_goods_modifytime" property="importGoodsModifytime" jdbcType="TIMESTAMP" />
    <result column="import_goods_endtime" property="importGoodsEndtime" jdbcType="TIMESTAMP" />
    <result column="import_goods_remark" property="importGoodsRemark" jdbcType="VARCHAR" />
    <result column="res_import_goods_amount" property="resImportGoodsAmount" jdbcType="INTEGER" />
    <result column="goods_shelf_life" property="goodsShelfLife" jdbcType="INTEGER" />
    <result column="import_id" property="importId" jdbcType="INTEGER" />
    <result column="import_serial_number" property="importSerialNumber" jdbcType="VARCHAR" />
    <result column="import_datetime" property="importDatetime" jdbcType="TIMESTAMP" />
    <result column="import_batch_number" property="importBatchNumber" jdbcType="VARCHAR" />
    <result column="import_total_price" property="importTotalPrice" jdbcType="VARCHAR" />
    <result column="payment_type" property="paymentType" jdbcType="VARCHAR" />
    <result column="payment_time" property="paymentTime" jdbcType="TIMESTAMP" />
    <result column="import_type" property="importType" jdbcType="VARCHAR" />
    <result column="import_status" property="importStatus" jdbcType="VARCHAR" />
    <result column="import_remark" property="importRemark" jdbcType="VARCHAR" />
    <result column="provider_id" property="providerId" jdbcType="INTEGER" />
    <result column="provider_name" property="providerName" jdbcType="VARCHAR" />
    <result column="provider_code" property="providerCode" jdbcType="VARCHAR" />
    <result column="is_discount" property="isDiscount" jdbcType="VARCHAR" />
    <result column="is_box_bottle" property="isBoxBottle" jdbcType="VARCHAR" />
    <result column="box_bottle_price" property="boxBottlePrice" jdbcType="VARCHAR" />
    <result column="box_bottle_total_price" property="boxBottleTotalPrice" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    log_id, log_datetime, import_goods_id, goods_id, goods_name, goods_code, import_goods_type, 
    import_goods_unit, import_goods_amount, import_goods_price, import_discount_rate, 
    import_discount_price, import_goods_total_price, discount_duty_total_price, discount_goods_total_price, 
    import_goods_createtime, import_goods_modifytime, import_goods_endtime, import_goods_remark, 
    res_import_goods_amount, goods_shelf_life, import_id, import_serial_number, import_datetime, 
    import_batch_number, import_total_price, payment_type, payment_time, import_type, 
    import_status, import_remark, provider_id, provider_name, provider_code, is_discount, 
    is_box_bottle, box_bottle_price, box_bottle_total_price
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.psims.web.model.TbImportGoodsLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_import_goods_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_import_goods_log
    where log_id = #{logId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_import_goods_log
    where log_id = #{logId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.psims.web.model.TbImportGoodsLogExample" >
    delete from tb_import_goods_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.psims.web.model.TbImportGoodsLog" >
    insert into tb_import_goods_log (log_id, log_datetime, import_goods_id, 
      goods_id, goods_name, goods_code, 
      import_goods_type, import_goods_unit, import_goods_amount, 
      import_goods_price, import_discount_rate, import_discount_price, 
      import_goods_total_price, discount_duty_total_price, 
      discount_goods_total_price, import_goods_createtime, 
      import_goods_modifytime, import_goods_endtime, 
      import_goods_remark, res_import_goods_amount, 
      goods_shelf_life, import_id, import_serial_number, 
      import_datetime, import_batch_number, import_total_price, 
      payment_type, payment_time, import_type, 
      import_status, import_remark, provider_id, 
      provider_name, provider_code, is_discount, 
      is_box_bottle, box_bottle_price, box_bottle_total_price
      )
    values (#{logId,jdbcType=INTEGER}, #{logDatetime,jdbcType=TIMESTAMP}, #{importGoodsId,jdbcType=INTEGER}, 
      #{goodsId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsCode,jdbcType=VARCHAR}, 
      #{importGoodsType,jdbcType=VARCHAR}, #{importGoodsUnit,jdbcType=VARCHAR}, #{importGoodsAmount,jdbcType=INTEGER}, 
      #{importGoodsPrice,jdbcType=VARCHAR}, #{importDiscountRate,jdbcType=VARCHAR}, #{importDiscountPrice,jdbcType=VARCHAR}, 
      #{importGoodsTotalPrice,jdbcType=VARCHAR}, #{discountDutyTotalPrice,jdbcType=VARCHAR}, 
      #{discountGoodsTotalPrice,jdbcType=VARCHAR}, #{importGoodsCreatetime,jdbcType=TIMESTAMP}, 
      #{importGoodsModifytime,jdbcType=TIMESTAMP}, #{importGoodsEndtime,jdbcType=TIMESTAMP}, 
      #{importGoodsRemark,jdbcType=VARCHAR}, #{resImportGoodsAmount,jdbcType=INTEGER}, 
      #{goodsShelfLife,jdbcType=INTEGER}, #{importId,jdbcType=INTEGER}, #{importSerialNumber,jdbcType=VARCHAR}, 
      #{importDatetime,jdbcType=TIMESTAMP}, #{importBatchNumber,jdbcType=VARCHAR}, #{importTotalPrice,jdbcType=VARCHAR}, 
      #{paymentType,jdbcType=VARCHAR}, #{paymentTime,jdbcType=TIMESTAMP}, #{importType,jdbcType=VARCHAR}, 
      #{importStatus,jdbcType=VARCHAR}, #{importRemark,jdbcType=VARCHAR}, #{providerId,jdbcType=INTEGER}, 
      #{providerName,jdbcType=VARCHAR}, #{providerCode,jdbcType=VARCHAR}, #{isDiscount,jdbcType=VARCHAR}, 
      #{isBoxBottle,jdbcType=VARCHAR}, #{boxBottlePrice,jdbcType=VARCHAR}, #{boxBottleTotalPrice,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.psims.web.model.TbImportGoodsLog" >
    insert into tb_import_goods_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        log_id,
      </if>
      <if test="logDatetime != null" >
        log_datetime,
      </if>
      <if test="importGoodsId != null" >
        import_goods_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsCode != null" >
        goods_code,
      </if>
      <if test="importGoodsType != null" >
        import_goods_type,
      </if>
      <if test="importGoodsUnit != null" >
        import_goods_unit,
      </if>
      <if test="importGoodsAmount != null" >
        import_goods_amount,
      </if>
      <if test="importGoodsPrice != null" >
        import_goods_price,
      </if>
      <if test="importDiscountRate != null" >
        import_discount_rate,
      </if>
      <if test="importDiscountPrice != null" >
        import_discount_price,
      </if>
      <if test="importGoodsTotalPrice != null" >
        import_goods_total_price,
      </if>
      <if test="discountDutyTotalPrice != null" >
        discount_duty_total_price,
      </if>
      <if test="discountGoodsTotalPrice != null" >
        discount_goods_total_price,
      </if>
      <if test="importGoodsCreatetime != null" >
        import_goods_createtime,
      </if>
      <if test="importGoodsModifytime != null" >
        import_goods_modifytime,
      </if>
      <if test="importGoodsEndtime != null" >
        import_goods_endtime,
      </if>
      <if test="importGoodsRemark != null" >
        import_goods_remark,
      </if>
      <if test="resImportGoodsAmount != null" >
        res_import_goods_amount,
      </if>
      <if test="goodsShelfLife != null" >
        goods_shelf_life,
      </if>
      <if test="importId != null" >
        import_id,
      </if>
      <if test="importSerialNumber != null" >
        import_serial_number,
      </if>
      <if test="importDatetime != null" >
        import_datetime,
      </if>
      <if test="importBatchNumber != null" >
        import_batch_number,
      </if>
      <if test="importTotalPrice != null" >
        import_total_price,
      </if>
      <if test="paymentType != null" >
        payment_type,
      </if>
      <if test="paymentTime != null" >
        payment_time,
      </if>
      <if test="importType != null" >
        import_type,
      </if>
      <if test="importStatus != null" >
        import_status,
      </if>
      <if test="importRemark != null" >
        import_remark,
      </if>
      <if test="providerId != null" >
        provider_id,
      </if>
      <if test="providerName != null" >
        provider_name,
      </if>
      <if test="providerCode != null" >
        provider_code,
      </if>
      <if test="isDiscount != null" >
        is_discount,
      </if>
      <if test="isBoxBottle != null" >
        is_box_bottle,
      </if>
      <if test="boxBottlePrice != null" >
        box_bottle_price,
      </if>
      <if test="boxBottleTotalPrice != null" >
        box_bottle_total_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        #{logId,jdbcType=INTEGER},
      </if>
      <if test="logDatetime != null" >
        #{logDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="importGoodsId != null" >
        #{importGoodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null" >
        #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="importGoodsType != null" >
        #{importGoodsType,jdbcType=VARCHAR},
      </if>
      <if test="importGoodsUnit != null" >
        #{importGoodsUnit,jdbcType=VARCHAR},
      </if>
      <if test="importGoodsAmount != null" >
        #{importGoodsAmount,jdbcType=INTEGER},
      </if>
      <if test="importGoodsPrice != null" >
        #{importGoodsPrice,jdbcType=VARCHAR},
      </if>
      <if test="importDiscountRate != null" >
        #{importDiscountRate,jdbcType=VARCHAR},
      </if>
      <if test="importDiscountPrice != null" >
        #{importDiscountPrice,jdbcType=VARCHAR},
      </if>
      <if test="importGoodsTotalPrice != null" >
        #{importGoodsTotalPrice,jdbcType=VARCHAR},
      </if>
      <if test="discountDutyTotalPrice != null" >
        #{discountDutyTotalPrice,jdbcType=VARCHAR},
      </if>
      <if test="discountGoodsTotalPrice != null" >
        #{discountGoodsTotalPrice,jdbcType=VARCHAR},
      </if>
      <if test="importGoodsCreatetime != null" >
        #{importGoodsCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="importGoodsModifytime != null" >
        #{importGoodsModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="importGoodsEndtime != null" >
        #{importGoodsEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="importGoodsRemark != null" >
        #{importGoodsRemark,jdbcType=VARCHAR},
      </if>
      <if test="resImportGoodsAmount != null" >
        #{resImportGoodsAmount,jdbcType=INTEGER},
      </if>
      <if test="goodsShelfLife != null" >
        #{goodsShelfLife,jdbcType=INTEGER},
      </if>
      <if test="importId != null" >
        #{importId,jdbcType=INTEGER},
      </if>
      <if test="importSerialNumber != null" >
        #{importSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="importDatetime != null" >
        #{importDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="importBatchNumber != null" >
        #{importBatchNumber,jdbcType=VARCHAR},
      </if>
      <if test="importTotalPrice != null" >
        #{importTotalPrice,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null" >
        #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="paymentTime != null" >
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="importType != null" >
        #{importType,jdbcType=VARCHAR},
      </if>
      <if test="importStatus != null" >
        #{importStatus,jdbcType=VARCHAR},
      </if>
      <if test="importRemark != null" >
        #{importRemark,jdbcType=VARCHAR},
      </if>
      <if test="providerId != null" >
        #{providerId,jdbcType=INTEGER},
      </if>
      <if test="providerName != null" >
        #{providerName,jdbcType=VARCHAR},
      </if>
      <if test="providerCode != null" >
        #{providerCode,jdbcType=VARCHAR},
      </if>
      <if test="isDiscount != null" >
        #{isDiscount,jdbcType=VARCHAR},
      </if>
      <if test="isBoxBottle != null" >
        #{isBoxBottle,jdbcType=VARCHAR},
      </if>
      <if test="boxBottlePrice != null" >
        #{boxBottlePrice,jdbcType=VARCHAR},
      </if>
      <if test="boxBottleTotalPrice != null" >
        #{boxBottleTotalPrice,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.psims.web.model.TbImportGoodsLogExample" resultType="java.lang.Integer" >
    select count(*) from tb_import_goods_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_import_goods_log
    <set >
      <if test="record.logId != null" >
        log_id = #{record.logId,jdbcType=INTEGER},
      </if>
      <if test="record.logDatetime != null" >
        log_datetime = #{record.logDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.importGoodsId != null" >
        import_goods_id = #{record.importGoodsId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsId != null" >
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsName != null" >
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsCode != null" >
        goods_code = #{record.goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="record.importGoodsType != null" >
        import_goods_type = #{record.importGoodsType,jdbcType=VARCHAR},
      </if>
      <if test="record.importGoodsUnit != null" >
        import_goods_unit = #{record.importGoodsUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.importGoodsAmount != null" >
        import_goods_amount = #{record.importGoodsAmount,jdbcType=INTEGER},
      </if>
      <if test="record.importGoodsPrice != null" >
        import_goods_price = #{record.importGoodsPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.importDiscountRate != null" >
        import_discount_rate = #{record.importDiscountRate,jdbcType=VARCHAR},
      </if>
      <if test="record.importDiscountPrice != null" >
        import_discount_price = #{record.importDiscountPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.importGoodsTotalPrice != null" >
        import_goods_total_price = #{record.importGoodsTotalPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.discountDutyTotalPrice != null" >
        discount_duty_total_price = #{record.discountDutyTotalPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.discountGoodsTotalPrice != null" >
        discount_goods_total_price = #{record.discountGoodsTotalPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.importGoodsCreatetime != null" >
        import_goods_createtime = #{record.importGoodsCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.importGoodsModifytime != null" >
        import_goods_modifytime = #{record.importGoodsModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.importGoodsEndtime != null" >
        import_goods_endtime = #{record.importGoodsEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.importGoodsRemark != null" >
        import_goods_remark = #{record.importGoodsRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.resImportGoodsAmount != null" >
        res_import_goods_amount = #{record.resImportGoodsAmount,jdbcType=INTEGER},
      </if>
      <if test="record.goodsShelfLife != null" >
        goods_shelf_life = #{record.goodsShelfLife,jdbcType=INTEGER},
      </if>
      <if test="record.importId != null" >
        import_id = #{record.importId,jdbcType=INTEGER},
      </if>
      <if test="record.importSerialNumber != null" >
        import_serial_number = #{record.importSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.importDatetime != null" >
        import_datetime = #{record.importDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.importBatchNumber != null" >
        import_batch_number = #{record.importBatchNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.importTotalPrice != null" >
        import_total_price = #{record.importTotalPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentType != null" >
        payment_type = #{record.paymentType,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentTime != null" >
        payment_time = #{record.paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.importType != null" >
        import_type = #{record.importType,jdbcType=VARCHAR},
      </if>
      <if test="record.importStatus != null" >
        import_status = #{record.importStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.importRemark != null" >
        import_remark = #{record.importRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.providerId != null" >
        provider_id = #{record.providerId,jdbcType=INTEGER},
      </if>
      <if test="record.providerName != null" >
        provider_name = #{record.providerName,jdbcType=VARCHAR},
      </if>
      <if test="record.providerCode != null" >
        provider_code = #{record.providerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.isDiscount != null" >
        is_discount = #{record.isDiscount,jdbcType=VARCHAR},
      </if>
      <if test="record.isBoxBottle != null" >
        is_box_bottle = #{record.isBoxBottle,jdbcType=VARCHAR},
      </if>
      <if test="record.boxBottlePrice != null" >
        box_bottle_price = #{record.boxBottlePrice,jdbcType=VARCHAR},
      </if>
      <if test="record.boxBottleTotalPrice != null" >
        box_bottle_total_price = #{record.boxBottleTotalPrice,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_import_goods_log
    set log_id = #{record.logId,jdbcType=INTEGER},
      log_datetime = #{record.logDatetime,jdbcType=TIMESTAMP},
      import_goods_id = #{record.importGoodsId,jdbcType=INTEGER},
      goods_id = #{record.goodsId,jdbcType=INTEGER},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      goods_code = #{record.goodsCode,jdbcType=VARCHAR},
      import_goods_type = #{record.importGoodsType,jdbcType=VARCHAR},
      import_goods_unit = #{record.importGoodsUnit,jdbcType=VARCHAR},
      import_goods_amount = #{record.importGoodsAmount,jdbcType=INTEGER},
      import_goods_price = #{record.importGoodsPrice,jdbcType=VARCHAR},
      import_discount_rate = #{record.importDiscountRate,jdbcType=VARCHAR},
      import_discount_price = #{record.importDiscountPrice,jdbcType=VARCHAR},
      import_goods_total_price = #{record.importGoodsTotalPrice,jdbcType=VARCHAR},
      discount_duty_total_price = #{record.discountDutyTotalPrice,jdbcType=VARCHAR},
      discount_goods_total_price = #{record.discountGoodsTotalPrice,jdbcType=VARCHAR},
      import_goods_createtime = #{record.importGoodsCreatetime,jdbcType=TIMESTAMP},
      import_goods_modifytime = #{record.importGoodsModifytime,jdbcType=TIMESTAMP},
      import_goods_endtime = #{record.importGoodsEndtime,jdbcType=TIMESTAMP},
      import_goods_remark = #{record.importGoodsRemark,jdbcType=VARCHAR},
      res_import_goods_amount = #{record.resImportGoodsAmount,jdbcType=INTEGER},
      goods_shelf_life = #{record.goodsShelfLife,jdbcType=INTEGER},
      import_id = #{record.importId,jdbcType=INTEGER},
      import_serial_number = #{record.importSerialNumber,jdbcType=VARCHAR},
      import_datetime = #{record.importDatetime,jdbcType=TIMESTAMP},
      import_batch_number = #{record.importBatchNumber,jdbcType=VARCHAR},
      import_total_price = #{record.importTotalPrice,jdbcType=VARCHAR},
      payment_type = #{record.paymentType,jdbcType=VARCHAR},
      payment_time = #{record.paymentTime,jdbcType=TIMESTAMP},
      import_type = #{record.importType,jdbcType=VARCHAR},
      import_status = #{record.importStatus,jdbcType=VARCHAR},
      import_remark = #{record.importRemark,jdbcType=VARCHAR},
      provider_id = #{record.providerId,jdbcType=INTEGER},
      provider_name = #{record.providerName,jdbcType=VARCHAR},
      provider_code = #{record.providerCode,jdbcType=VARCHAR},
      is_discount = #{record.isDiscount,jdbcType=VARCHAR},
      is_box_bottle = #{record.isBoxBottle,jdbcType=VARCHAR},
      box_bottle_price = #{record.boxBottlePrice,jdbcType=VARCHAR},
      box_bottle_total_price = #{record.boxBottleTotalPrice,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.psims.web.model.TbImportGoodsLog" >
    update tb_import_goods_log
    <set >
      <if test="logDatetime != null" >
        log_datetime = #{logDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="importGoodsId != null" >
        import_goods_id = #{importGoodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null" >
        goods_code = #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="importGoodsType != null" >
        import_goods_type = #{importGoodsType,jdbcType=VARCHAR},
      </if>
      <if test="importGoodsUnit != null" >
        import_goods_unit = #{importGoodsUnit,jdbcType=VARCHAR},
      </if>
      <if test="importGoodsAmount != null" >
        import_goods_amount = #{importGoodsAmount,jdbcType=INTEGER},
      </if>
      <if test="importGoodsPrice != null" >
        import_goods_price = #{importGoodsPrice,jdbcType=VARCHAR},
      </if>
      <if test="importDiscountRate != null" >
        import_discount_rate = #{importDiscountRate,jdbcType=VARCHAR},
      </if>
      <if test="importDiscountPrice != null" >
        import_discount_price = #{importDiscountPrice,jdbcType=VARCHAR},
      </if>
      <if test="importGoodsTotalPrice != null" >
        import_goods_total_price = #{importGoodsTotalPrice,jdbcType=VARCHAR},
      </if>
      <if test="discountDutyTotalPrice != null" >
        discount_duty_total_price = #{discountDutyTotalPrice,jdbcType=VARCHAR},
      </if>
      <if test="discountGoodsTotalPrice != null" >
        discount_goods_total_price = #{discountGoodsTotalPrice,jdbcType=VARCHAR},
      </if>
      <if test="importGoodsCreatetime != null" >
        import_goods_createtime = #{importGoodsCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="importGoodsModifytime != null" >
        import_goods_modifytime = #{importGoodsModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="importGoodsEndtime != null" >
        import_goods_endtime = #{importGoodsEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="importGoodsRemark != null" >
        import_goods_remark = #{importGoodsRemark,jdbcType=VARCHAR},
      </if>
      <if test="resImportGoodsAmount != null" >
        res_import_goods_amount = #{resImportGoodsAmount,jdbcType=INTEGER},
      </if>
      <if test="goodsShelfLife != null" >
        goods_shelf_life = #{goodsShelfLife,jdbcType=INTEGER},
      </if>
      <if test="importId != null" >
        import_id = #{importId,jdbcType=INTEGER},
      </if>
      <if test="importSerialNumber != null" >
        import_serial_number = #{importSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="importDatetime != null" >
        import_datetime = #{importDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="importBatchNumber != null" >
        import_batch_number = #{importBatchNumber,jdbcType=VARCHAR},
      </if>
      <if test="importTotalPrice != null" >
        import_total_price = #{importTotalPrice,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null" >
        payment_type = #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="paymentTime != null" >
        payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="importType != null" >
        import_type = #{importType,jdbcType=VARCHAR},
      </if>
      <if test="importStatus != null" >
        import_status = #{importStatus,jdbcType=VARCHAR},
      </if>
      <if test="importRemark != null" >
        import_remark = #{importRemark,jdbcType=VARCHAR},
      </if>
      <if test="providerId != null" >
        provider_id = #{providerId,jdbcType=INTEGER},
      </if>
      <if test="providerName != null" >
        provider_name = #{providerName,jdbcType=VARCHAR},
      </if>
      <if test="providerCode != null" >
        provider_code = #{providerCode,jdbcType=VARCHAR},
      </if>
      <if test="isDiscount != null" >
        is_discount = #{isDiscount,jdbcType=VARCHAR},
      </if>
      <if test="isBoxBottle != null" >
        is_box_bottle = #{isBoxBottle,jdbcType=VARCHAR},
      </if>
      <if test="boxBottlePrice != null" >
        box_bottle_price = #{boxBottlePrice,jdbcType=VARCHAR},
      </if>
      <if test="boxBottleTotalPrice != null" >
        box_bottle_total_price = #{boxBottleTotalPrice,jdbcType=VARCHAR},
      </if>
    </set>
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.psims.web.model.TbImportGoodsLog" >
    update tb_import_goods_log
    set log_datetime = #{logDatetime,jdbcType=TIMESTAMP},
      import_goods_id = #{importGoodsId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_code = #{goodsCode,jdbcType=VARCHAR},
      import_goods_type = #{importGoodsType,jdbcType=VARCHAR},
      import_goods_unit = #{importGoodsUnit,jdbcType=VARCHAR},
      import_goods_amount = #{importGoodsAmount,jdbcType=INTEGER},
      import_goods_price = #{importGoodsPrice,jdbcType=VARCHAR},
      import_discount_rate = #{importDiscountRate,jdbcType=VARCHAR},
      import_discount_price = #{importDiscountPrice,jdbcType=VARCHAR},
      import_goods_total_price = #{importGoodsTotalPrice,jdbcType=VARCHAR},
      discount_duty_total_price = #{discountDutyTotalPrice,jdbcType=VARCHAR},
      discount_goods_total_price = #{discountGoodsTotalPrice,jdbcType=VARCHAR},
      import_goods_createtime = #{importGoodsCreatetime,jdbcType=TIMESTAMP},
      import_goods_modifytime = #{importGoodsModifytime,jdbcType=TIMESTAMP},
      import_goods_endtime = #{importGoodsEndtime,jdbcType=TIMESTAMP},
      import_goods_remark = #{importGoodsRemark,jdbcType=VARCHAR},
      res_import_goods_amount = #{resImportGoodsAmount,jdbcType=INTEGER},
      goods_shelf_life = #{goodsShelfLife,jdbcType=INTEGER},
      import_id = #{importId,jdbcType=INTEGER},
      import_serial_number = #{importSerialNumber,jdbcType=VARCHAR},
      import_datetime = #{importDatetime,jdbcType=TIMESTAMP},
      import_batch_number = #{importBatchNumber,jdbcType=VARCHAR},
      import_total_price = #{importTotalPrice,jdbcType=VARCHAR},
      payment_type = #{paymentType,jdbcType=VARCHAR},
      payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      import_type = #{importType,jdbcType=VARCHAR},
      import_status = #{importStatus,jdbcType=VARCHAR},
      import_remark = #{importRemark,jdbcType=VARCHAR},
      provider_id = #{providerId,jdbcType=INTEGER},
      provider_name = #{providerName,jdbcType=VARCHAR},
      provider_code = #{providerCode,jdbcType=VARCHAR},
      is_discount = #{isDiscount,jdbcType=VARCHAR},
      is_box_bottle = #{isBoxBottle,jdbcType=VARCHAR},
      box_bottle_price = #{boxBottlePrice,jdbcType=VARCHAR},
      box_bottle_total_price = #{boxBottleTotalPrice,jdbcType=VARCHAR}
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
</mapper>