<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.psims.web.dao.TbProviderMapper" >
  <resultMap id="BaseResultMap" type="com.ai.psims.web.model.TbProvider" >
    <id column="provider_id" property="providerId" jdbcType="INTEGER" />
    <result column="provider_name" property="providerName" jdbcType="VARCHAR" />
    <result column="provider_code" property="providerCode" jdbcType="VARCHAR" />
    <result column="provider_contact_name" property="providerContactName" jdbcType="VARCHAR" />
    <result column="provider_contact_tel" property="providerContactTel" jdbcType="VARCHAR" />
    <result column="provider_contact_fax" property="providerContactFax" jdbcType="VARCHAR" />
    <result column="provider_contact_email" property="providerContactEmail" jdbcType="VARCHAR" />
    <result column="provider_contact_address" property="providerContactAddress" jdbcType="VARCHAR" />
    <result column="provider_bank_name" property="providerBankName" jdbcType="VARCHAR" />
    <result column="provider_bank_account_name" property="providerBankAccountName" jdbcType="VARCHAR" />
    <result column="provider_bank_account_code" property="providerBankAccountCode" jdbcType="VARCHAR" />
    <result column="provider_prize_pool" property="providerPrizePool" jdbcType="INTEGER" />
    <result column="provider_taxid" property="providerTaxid" jdbcType="VARCHAR" />
    <result column="provider_area" property="providerArea" jdbcType="VARCHAR" />
    <result column="provider_type" property="providerType" jdbcType="VARCHAR" />
    <result column="provider_status" property="providerStatus" jdbcType="VARCHAR" />
    <result column="provider_createtime" property="providerCreatetime" jdbcType="TIMESTAMP" />
    <result column="provider_modifytime" property="providerModifytime" jdbcType="TIMESTAMP" />
    <result column="provider_endtime" property="providerEndtime" jdbcType="TIMESTAMP" />
    <result column="provider_remark" property="providerRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    provider_id, provider_name, provider_code, provider_contact_name, provider_contact_tel, 
    provider_contact_fax, provider_contact_email, provider_contact_address, provider_bank_name, 
    provider_bank_account_name, provider_bank_account_code, provider_prize_pool, provider_taxid, 
    provider_area, provider_type, provider_status, provider_createtime, provider_modifytime, 
    provider_endtime, provider_remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.psims.web.model.TbProviderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_provider
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_provider
    where provider_id = #{providerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_provider
    where provider_id = #{providerId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.psims.web.model.TbProviderExample" >
    delete from tb_provider
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.psims.web.model.TbProvider" >
    insert into tb_provider (provider_id, provider_name, provider_code, 
      provider_contact_name, provider_contact_tel, 
      provider_contact_fax, provider_contact_email, 
      provider_contact_address, provider_bank_name, 
      provider_bank_account_name, provider_bank_account_code, 
      provider_prize_pool, provider_taxid, provider_area, 
      provider_type, provider_status, provider_createtime, 
      provider_modifytime, provider_endtime, 
      provider_remark)
    values (#{providerId,jdbcType=INTEGER}, #{providerName,jdbcType=VARCHAR}, #{providerCode,jdbcType=VARCHAR}, 
      #{providerContactName,jdbcType=VARCHAR}, #{providerContactTel,jdbcType=VARCHAR}, 
      #{providerContactFax,jdbcType=VARCHAR}, #{providerContactEmail,jdbcType=VARCHAR}, 
      #{providerContactAddress,jdbcType=VARCHAR}, #{providerBankName,jdbcType=VARCHAR}, 
      #{providerBankAccountName,jdbcType=VARCHAR}, #{providerBankAccountCode,jdbcType=VARCHAR}, 
      #{providerPrizePool,jdbcType=INTEGER}, #{providerTaxid,jdbcType=VARCHAR}, #{providerArea,jdbcType=VARCHAR}, 
      #{providerType,jdbcType=VARCHAR}, #{providerStatus,jdbcType=VARCHAR}, #{providerCreatetime,jdbcType=TIMESTAMP}, 
      #{providerModifytime,jdbcType=TIMESTAMP}, #{providerEndtime,jdbcType=TIMESTAMP}, 
      #{providerRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.psims.web.model.TbProvider" >
    insert into tb_provider
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="providerId != null" >
        provider_id,
      </if>
      <if test="providerName != null" >
        provider_name,
      </if>
      <if test="providerCode != null" >
        provider_code,
      </if>
      <if test="providerContactName != null" >
        provider_contact_name,
      </if>
      <if test="providerContactTel != null" >
        provider_contact_tel,
      </if>
      <if test="providerContactFax != null" >
        provider_contact_fax,
      </if>
      <if test="providerContactEmail != null" >
        provider_contact_email,
      </if>
      <if test="providerContactAddress != null" >
        provider_contact_address,
      </if>
      <if test="providerBankName != null" >
        provider_bank_name,
      </if>
      <if test="providerBankAccountName != null" >
        provider_bank_account_name,
      </if>
      <if test="providerBankAccountCode != null" >
        provider_bank_account_code,
      </if>
      <if test="providerPrizePool != null" >
        provider_prize_pool,
      </if>
      <if test="providerTaxid != null" >
        provider_taxid,
      </if>
      <if test="providerArea != null" >
        provider_area,
      </if>
      <if test="providerType != null" >
        provider_type,
      </if>
      <if test="providerStatus != null" >
        provider_status,
      </if>
      <if test="providerCreatetime != null" >
        provider_createtime,
      </if>
      <if test="providerModifytime != null" >
        provider_modifytime,
      </if>
      <if test="providerEndtime != null" >
        provider_endtime,
      </if>
      <if test="providerRemark != null" >
        provider_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="providerId != null" >
        #{providerId,jdbcType=INTEGER},
      </if>
      <if test="providerName != null" >
        #{providerName,jdbcType=VARCHAR},
      </if>
      <if test="providerCode != null" >
        #{providerCode,jdbcType=VARCHAR},
      </if>
      <if test="providerContactName != null" >
        #{providerContactName,jdbcType=VARCHAR},
      </if>
      <if test="providerContactTel != null" >
        #{providerContactTel,jdbcType=VARCHAR},
      </if>
      <if test="providerContactFax != null" >
        #{providerContactFax,jdbcType=VARCHAR},
      </if>
      <if test="providerContactEmail != null" >
        #{providerContactEmail,jdbcType=VARCHAR},
      </if>
      <if test="providerContactAddress != null" >
        #{providerContactAddress,jdbcType=VARCHAR},
      </if>
      <if test="providerBankName != null" >
        #{providerBankName,jdbcType=VARCHAR},
      </if>
      <if test="providerBankAccountName != null" >
        #{providerBankAccountName,jdbcType=VARCHAR},
      </if>
      <if test="providerBankAccountCode != null" >
        #{providerBankAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="providerPrizePool != null" >
        #{providerPrizePool,jdbcType=INTEGER},
      </if>
      <if test="providerTaxid != null" >
        #{providerTaxid,jdbcType=VARCHAR},
      </if>
      <if test="providerArea != null" >
        #{providerArea,jdbcType=VARCHAR},
      </if>
      <if test="providerType != null" >
        #{providerType,jdbcType=VARCHAR},
      </if>
      <if test="providerStatus != null" >
        #{providerStatus,jdbcType=VARCHAR},
      </if>
      <if test="providerCreatetime != null" >
        #{providerCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="providerModifytime != null" >
        #{providerModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="providerEndtime != null" >
        #{providerEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="providerRemark != null" >
        #{providerRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.psims.web.model.TbProviderExample" resultType="java.lang.Integer" >
    select count(*) from tb_provider
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_provider
    <set >
      <if test="record.providerId != null" >
        provider_id = #{record.providerId,jdbcType=INTEGER},
      </if>
      <if test="record.providerName != null" >
        provider_name = #{record.providerName,jdbcType=VARCHAR},
      </if>
      <if test="record.providerCode != null" >
        provider_code = #{record.providerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.providerContactName != null" >
        provider_contact_name = #{record.providerContactName,jdbcType=VARCHAR},
      </if>
      <if test="record.providerContactTel != null" >
        provider_contact_tel = #{record.providerContactTel,jdbcType=VARCHAR},
      </if>
      <if test="record.providerContactFax != null" >
        provider_contact_fax = #{record.providerContactFax,jdbcType=VARCHAR},
      </if>
      <if test="record.providerContactEmail != null" >
        provider_contact_email = #{record.providerContactEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.providerContactAddress != null" >
        provider_contact_address = #{record.providerContactAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.providerBankName != null" >
        provider_bank_name = #{record.providerBankName,jdbcType=VARCHAR},
      </if>
      <if test="record.providerBankAccountName != null" >
        provider_bank_account_name = #{record.providerBankAccountName,jdbcType=VARCHAR},
      </if>
      <if test="record.providerBankAccountCode != null" >
        provider_bank_account_code = #{record.providerBankAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="record.providerPrizePool != null" >
        provider_prize_pool = #{record.providerPrizePool,jdbcType=INTEGER},
      </if>
      <if test="record.providerTaxid != null" >
        provider_taxid = #{record.providerTaxid,jdbcType=VARCHAR},
      </if>
      <if test="record.providerArea != null" >
        provider_area = #{record.providerArea,jdbcType=VARCHAR},
      </if>
      <if test="record.providerType != null" >
        provider_type = #{record.providerType,jdbcType=VARCHAR},
      </if>
      <if test="record.providerStatus != null" >
        provider_status = #{record.providerStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.providerCreatetime != null" >
        provider_createtime = #{record.providerCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.providerModifytime != null" >
        provider_modifytime = #{record.providerModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.providerEndtime != null" >
        provider_endtime = #{record.providerEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.providerRemark != null" >
        provider_remark = #{record.providerRemark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_provider
    set provider_id = #{record.providerId,jdbcType=INTEGER},
      provider_name = #{record.providerName,jdbcType=VARCHAR},
      provider_code = #{record.providerCode,jdbcType=VARCHAR},
      provider_contact_name = #{record.providerContactName,jdbcType=VARCHAR},
      provider_contact_tel = #{record.providerContactTel,jdbcType=VARCHAR},
      provider_contact_fax = #{record.providerContactFax,jdbcType=VARCHAR},
      provider_contact_email = #{record.providerContactEmail,jdbcType=VARCHAR},
      provider_contact_address = #{record.providerContactAddress,jdbcType=VARCHAR},
      provider_bank_name = #{record.providerBankName,jdbcType=VARCHAR},
      provider_bank_account_name = #{record.providerBankAccountName,jdbcType=VARCHAR},
      provider_bank_account_code = #{record.providerBankAccountCode,jdbcType=VARCHAR},
      provider_prize_pool = #{record.providerPrizePool,jdbcType=INTEGER},
      provider_taxid = #{record.providerTaxid,jdbcType=VARCHAR},
      provider_area = #{record.providerArea,jdbcType=VARCHAR},
      provider_type = #{record.providerType,jdbcType=VARCHAR},
      provider_status = #{record.providerStatus,jdbcType=VARCHAR},
      provider_createtime = #{record.providerCreatetime,jdbcType=TIMESTAMP},
      provider_modifytime = #{record.providerModifytime,jdbcType=TIMESTAMP},
      provider_endtime = #{record.providerEndtime,jdbcType=TIMESTAMP},
      provider_remark = #{record.providerRemark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.psims.web.model.TbProvider" >
    update tb_provider
    <set >
      <if test="providerName != null" >
        provider_name = #{providerName,jdbcType=VARCHAR},
      </if>
      <if test="providerCode != null" >
        provider_code = #{providerCode,jdbcType=VARCHAR},
      </if>
      <if test="providerContactName != null" >
        provider_contact_name = #{providerContactName,jdbcType=VARCHAR},
      </if>
      <if test="providerContactTel != null" >
        provider_contact_tel = #{providerContactTel,jdbcType=VARCHAR},
      </if>
      <if test="providerContactFax != null" >
        provider_contact_fax = #{providerContactFax,jdbcType=VARCHAR},
      </if>
      <if test="providerContactEmail != null" >
        provider_contact_email = #{providerContactEmail,jdbcType=VARCHAR},
      </if>
      <if test="providerContactAddress != null" >
        provider_contact_address = #{providerContactAddress,jdbcType=VARCHAR},
      </if>
      <if test="providerBankName != null" >
        provider_bank_name = #{providerBankName,jdbcType=VARCHAR},
      </if>
      <if test="providerBankAccountName != null" >
        provider_bank_account_name = #{providerBankAccountName,jdbcType=VARCHAR},
      </if>
      <if test="providerBankAccountCode != null" >
        provider_bank_account_code = #{providerBankAccountCode,jdbcType=VARCHAR},
      </if>
      <if test="providerPrizePool != null" >
        provider_prize_pool = #{providerPrizePool,jdbcType=INTEGER},
      </if>
      <if test="providerTaxid != null" >
        provider_taxid = #{providerTaxid,jdbcType=VARCHAR},
      </if>
      <if test="providerArea != null" >
        provider_area = #{providerArea,jdbcType=VARCHAR},
      </if>
      <if test="providerType != null" >
        provider_type = #{providerType,jdbcType=VARCHAR},
      </if>
      <if test="providerStatus != null" >
        provider_status = #{providerStatus,jdbcType=VARCHAR},
      </if>
      <if test="providerCreatetime != null" >
        provider_createtime = #{providerCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="providerModifytime != null" >
        provider_modifytime = #{providerModifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="providerEndtime != null" >
        provider_endtime = #{providerEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="providerRemark != null" >
        provider_remark = #{providerRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where provider_id = #{providerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.psims.web.model.TbProvider" >
    update tb_provider
    set provider_name = #{providerName,jdbcType=VARCHAR},
      provider_code = #{providerCode,jdbcType=VARCHAR},
      provider_contact_name = #{providerContactName,jdbcType=VARCHAR},
      provider_contact_tel = #{providerContactTel,jdbcType=VARCHAR},
      provider_contact_fax = #{providerContactFax,jdbcType=VARCHAR},
      provider_contact_email = #{providerContactEmail,jdbcType=VARCHAR},
      provider_contact_address = #{providerContactAddress,jdbcType=VARCHAR},
      provider_bank_name = #{providerBankName,jdbcType=VARCHAR},
      provider_bank_account_name = #{providerBankAccountName,jdbcType=VARCHAR},
      provider_bank_account_code = #{providerBankAccountCode,jdbcType=VARCHAR},
      provider_prize_pool = #{providerPrizePool,jdbcType=INTEGER},
      provider_taxid = #{providerTaxid,jdbcType=VARCHAR},
      provider_area = #{providerArea,jdbcType=VARCHAR},
      provider_type = #{providerType,jdbcType=VARCHAR},
      provider_status = #{providerStatus,jdbcType=VARCHAR},
      provider_createtime = #{providerCreatetime,jdbcType=TIMESTAMP},
      provider_modifytime = #{providerModifytime,jdbcType=TIMESTAMP},
      provider_endtime = #{providerEndtime,jdbcType=TIMESTAMP},
      provider_remark = #{providerRemark,jdbcType=VARCHAR}
    where provider_id = #{providerId,jdbcType=INTEGER}
  </update>
</mapper>