<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.psims.web.dao.TbSystemParameterLogMapper" >
  <resultMap id="BaseResultMap" type="com.ai.psims.web.model.TbSystemParameterLog" >
    <id column="log_id" property="logId" jdbcType="INTEGER" />
    <result column="log_datetime" property="logDatetime" jdbcType="TIMESTAMP" />
    <result column="param_id" property="paramId" jdbcType="INTEGER" />
    <result column="p_key" property="pKey" jdbcType="VARCHAR" />
    <result column="p_desc" property="pDesc" jdbcType="VARCHAR" />
    <result column="p_value" property="pValue" jdbcType="VARCHAR" />
    <result column="pp_key" property="ppKey" jdbcType="VARCHAR" />
    <result column="pp_desc" property="ppDesc" jdbcType="VARCHAR" />
    <result column="pp_value" property="ppValue" jdbcType="VARCHAR" />
    <result column="pp_valueINT" property="ppValueint" jdbcType="BIGINT" />
    <result column="p_remark" property="pRemark" jdbcType="VARCHAR" />
    <result column="p_createtime" property="pCreatetime" jdbcType="TIMESTAMP" />
    <result column="p_status" property="pStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    log_id, log_datetime, param_id, p_key, p_desc, p_value, pp_key, pp_desc, pp_value, 
    pp_valueINT, p_remark, p_createtime, p_status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.psims.web.model.TbSystemParameterLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_system_parameter_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_system_parameter_log
    where log_id = #{logId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_system_parameter_log
    where log_id = #{logId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.psims.web.model.TbSystemParameterLogExample" >
    delete from tb_system_parameter_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.psims.web.model.TbSystemParameterLog" >
    insert into tb_system_parameter_log (log_id, log_datetime, param_id, 
      p_key, p_desc, p_value, 
      pp_key, pp_desc, pp_value, 
      pp_valueINT, p_remark, p_createtime, 
      p_status)
    values (#{logId,jdbcType=INTEGER}, #{logDatetime,jdbcType=TIMESTAMP}, #{paramId,jdbcType=INTEGER}, 
      #{pKey,jdbcType=VARCHAR}, #{pDesc,jdbcType=VARCHAR}, #{pValue,jdbcType=VARCHAR}, 
      #{ppKey,jdbcType=VARCHAR}, #{ppDesc,jdbcType=VARCHAR}, #{ppValue,jdbcType=VARCHAR}, 
      #{ppValueint,jdbcType=BIGINT}, #{pRemark,jdbcType=VARCHAR}, #{pCreatetime,jdbcType=TIMESTAMP}, 
      #{pStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.psims.web.model.TbSystemParameterLog" >
    insert into tb_system_parameter_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        log_id,
      </if>
      <if test="logDatetime != null" >
        log_datetime,
      </if>
      <if test="paramId != null" >
        param_id,
      </if>
      <if test="pKey != null" >
        p_key,
      </if>
      <if test="pDesc != null" >
        p_desc,
      </if>
      <if test="pValue != null" >
        p_value,
      </if>
      <if test="ppKey != null" >
        pp_key,
      </if>
      <if test="ppDesc != null" >
        pp_desc,
      </if>
      <if test="ppValue != null" >
        pp_value,
      </if>
      <if test="ppValueint != null" >
        pp_valueINT,
      </if>
      <if test="pRemark != null" >
        p_remark,
      </if>
      <if test="pCreatetime != null" >
        p_createtime,
      </if>
      <if test="pStatus != null" >
        p_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        #{logId,jdbcType=INTEGER},
      </if>
      <if test="logDatetime != null" >
        #{logDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="paramId != null" >
        #{paramId,jdbcType=INTEGER},
      </if>
      <if test="pKey != null" >
        #{pKey,jdbcType=VARCHAR},
      </if>
      <if test="pDesc != null" >
        #{pDesc,jdbcType=VARCHAR},
      </if>
      <if test="pValue != null" >
        #{pValue,jdbcType=VARCHAR},
      </if>
      <if test="ppKey != null" >
        #{ppKey,jdbcType=VARCHAR},
      </if>
      <if test="ppDesc != null" >
        #{ppDesc,jdbcType=VARCHAR},
      </if>
      <if test="ppValue != null" >
        #{ppValue,jdbcType=VARCHAR},
      </if>
      <if test="ppValueint != null" >
        #{ppValueint,jdbcType=BIGINT},
      </if>
      <if test="pRemark != null" >
        #{pRemark,jdbcType=VARCHAR},
      </if>
      <if test="pCreatetime != null" >
        #{pCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="pStatus != null" >
        #{pStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.psims.web.model.TbSystemParameterLogExample" resultType="java.lang.Integer" >
    select count(*) from tb_system_parameter_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_system_parameter_log
    <set >
      <if test="record.logId != null" >
        log_id = #{record.logId,jdbcType=INTEGER},
      </if>
      <if test="record.logDatetime != null" >
        log_datetime = #{record.logDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.paramId != null" >
        param_id = #{record.paramId,jdbcType=INTEGER},
      </if>
      <if test="record.pKey != null" >
        p_key = #{record.pKey,jdbcType=VARCHAR},
      </if>
      <if test="record.pDesc != null" >
        p_desc = #{record.pDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.pValue != null" >
        p_value = #{record.pValue,jdbcType=VARCHAR},
      </if>
      <if test="record.ppKey != null" >
        pp_key = #{record.ppKey,jdbcType=VARCHAR},
      </if>
      <if test="record.ppDesc != null" >
        pp_desc = #{record.ppDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.ppValue != null" >
        pp_value = #{record.ppValue,jdbcType=VARCHAR},
      </if>
      <if test="record.ppValueint != null" >
        pp_valueINT = #{record.ppValueint,jdbcType=BIGINT},
      </if>
      <if test="record.pRemark != null" >
        p_remark = #{record.pRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.pCreatetime != null" >
        p_createtime = #{record.pCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pStatus != null" >
        p_status = #{record.pStatus,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_system_parameter_log
    set log_id = #{record.logId,jdbcType=INTEGER},
      log_datetime = #{record.logDatetime,jdbcType=TIMESTAMP},
      param_id = #{record.paramId,jdbcType=INTEGER},
      p_key = #{record.pKey,jdbcType=VARCHAR},
      p_desc = #{record.pDesc,jdbcType=VARCHAR},
      p_value = #{record.pValue,jdbcType=VARCHAR},
      pp_key = #{record.ppKey,jdbcType=VARCHAR},
      pp_desc = #{record.ppDesc,jdbcType=VARCHAR},
      pp_value = #{record.ppValue,jdbcType=VARCHAR},
      pp_valueINT = #{record.ppValueint,jdbcType=BIGINT},
      p_remark = #{record.pRemark,jdbcType=VARCHAR},
      p_createtime = #{record.pCreatetime,jdbcType=TIMESTAMP},
      p_status = #{record.pStatus,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.psims.web.model.TbSystemParameterLog" >
    update tb_system_parameter_log
    <set >
      <if test="logDatetime != null" >
        log_datetime = #{logDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="paramId != null" >
        param_id = #{paramId,jdbcType=INTEGER},
      </if>
      <if test="pKey != null" >
        p_key = #{pKey,jdbcType=VARCHAR},
      </if>
      <if test="pDesc != null" >
        p_desc = #{pDesc,jdbcType=VARCHAR},
      </if>
      <if test="pValue != null" >
        p_value = #{pValue,jdbcType=VARCHAR},
      </if>
      <if test="ppKey != null" >
        pp_key = #{ppKey,jdbcType=VARCHAR},
      </if>
      <if test="ppDesc != null" >
        pp_desc = #{ppDesc,jdbcType=VARCHAR},
      </if>
      <if test="ppValue != null" >
        pp_value = #{ppValue,jdbcType=VARCHAR},
      </if>
      <if test="ppValueint != null" >
        pp_valueINT = #{ppValueint,jdbcType=BIGINT},
      </if>
      <if test="pRemark != null" >
        p_remark = #{pRemark,jdbcType=VARCHAR},
      </if>
      <if test="pCreatetime != null" >
        p_createtime = #{pCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="pStatus != null" >
        p_status = #{pStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.psims.web.model.TbSystemParameterLog" >
    update tb_system_parameter_log
    set log_datetime = #{logDatetime,jdbcType=TIMESTAMP},
      param_id = #{paramId,jdbcType=INTEGER},
      p_key = #{pKey,jdbcType=VARCHAR},
      p_desc = #{pDesc,jdbcType=VARCHAR},
      p_value = #{pValue,jdbcType=VARCHAR},
      pp_key = #{ppKey,jdbcType=VARCHAR},
      pp_desc = #{ppDesc,jdbcType=VARCHAR},
      pp_value = #{ppValue,jdbcType=VARCHAR},
      pp_valueINT = #{ppValueint,jdbcType=BIGINT},
      p_remark = #{pRemark,jdbcType=VARCHAR},
      p_createtime = #{pCreatetime,jdbcType=TIMESTAMP},
      p_status = #{pStatus,jdbcType=VARCHAR}
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
</mapper>